<div class="container background-white" style="opacity: 0.95;">
    <div class="row margin-vert-30">
        <div class="col-md-12">
            {% csrf_token %}
            <form method="get" action="">
                <input name="nombre" placeholder="Nombre" value="{{ f.nombre }}" class="filtro">
                <button class="btn btn-violet pull-right" type="submit">Filtrar</button>
            </form>
            <h2><font color="Purple"><font face="arial"><center> Listado de Servicios </center></font></font></h2>
            <table class="table table-striped">
                <thread>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Duración</th>
                        <th>Insumos</th>
                        <th>Sector</th>
                        {% if request.user.persona.duenia != null %}
                            <th>Modificar</th>
                        {% endif %}
                    </tr>
                </thread>
                <tbody>
                    {% for servicio in servicios %}
                    <tr>
                        <td>{{servicio.nombre}}</td>
                        <td>{{servicio.descripcion}}</td>
                        <td>{{servicio.precio}}</td>
                        <td>{{servicio.get_duracion}}</td>
                        <td>{% for insumo in servicio.insumos.all %}
                               <li>{{insumo}}
                            {% endfor %}
                        </td>
                        <td>{{servicio.sector}}</td>
                        {% if request.user.persona.duenia != Null %}
                            <td><a href="{% url 'modificar_servicio' servicio.id %}" button type="button" class="btn btn-warning" role="button">Modificar</a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h2><font color="Purple"><font face="arial"><center> Listado de Promociones </center></font></font></h2>
            <table class="table table-striped">
                <thread>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Duración</th>
                        <th>Servicios</th>
                        {% if usuario == 'duenia' or usuario == 'empleado' %}
                            <th>Estado</th>
                        {% endif %}
                    </tr>
                </thread>
                <tbody>
                    {% for promocion in promociones %}
                    <tr>
                        {% if not promocion.activa == False  and  usuario == 'cliente' or usuario == 'duenia' or usuario == 'empleado' %}
                            <td>{{promocion.nombre}}</td>
                            <td>{{promocion.descripcion}}</td>
                            <td>{{promocion.precio}}</td>
                            <td>{{promocion.get_duracion}}</td>
                            <td>{% for servicio in promocion.servicios.all %}
                                    <li>{{servicio}}
                                {% endfor %}

                            {% if usuario == 'duenia' or usuario == 'empleado' %}
                                {% if promocion.activa == True %}
                                    <td><a></a>ACTIVA</a></td>
                                {% else %}
                                    <td><a></a>INACTIVA</a></td>
                                {% endif %}
                            {% endif %}
                            <td width=20>
                                {% if usuario == 'duenia' or usuario == 'empleado' %}
                                    {% if promocion.activa == True %}
                                        <td><a href="{% url 'desactivar_promocion' promocion.id %}" button type="button" class="btn btn-warning" role="button">Desactivar</a></td>
                                    {% else %}
                                       <td><a href="{% url 'activar_promocion' promocion.id %}" button type="button" class="btn btn-warning" role="button">Activar</a></td>
                                    {% endif %}
                                {% endif %}
                         {% endif %}

                             </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>