<div class="container background-white" style="opacity: 0.95;">
    <div class="row margin-vert-30">
        <div class="col-md-12">
            {% csrf_token %}

            <h2><font color="Purple"><font face="arial"><center> Listado de Servicios </center></font></font></h2>

            <table class="table table-striped">
                <thread>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Duración</th>
                        <th>Insumos</th>
                    </tr>
                </thread>
                <tbody>
                    {% for servicio in servicios %}
                    <tr>
                        <td>{{servicio.nombre}}</td>
                        <td>{{servicio.descripcion}}</td>
                        <td>{{servicio.precio}}</td>
                        <td>{{servicio.duracion}}</td>
                        <td>{% if servicio.promocion %}
                                {% for s in servicio.servicios.all %}
                                    {% for insumo in s.insumos.all %}
                                        {{insumo}}
                                    {% endfor %}
                                {% endfor %}
                            {% else %}
                                {% for insumo in servicio.insumos.all %}
                                    {{insumo}}
                                {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
