{% extends "base/base.html" %}

{% load staticfiles %}

{% block barra %}
    <div id="hornav" class="container no-padding">
        <div class="row">
            <div class="col-md-12 no-padding">
                <div class="visible-lg">
                    <ul id="hornavmenu" class="nav navbar-nav navbar-fixed-top" style="height: 60px">
                        <li class="navbar-left">
                            <a href="{% url 'duenio' %}" class="fa-home">Principal</a>
                        </li>
                        <li class="navbar-right">
                            <span class="fa-user-md">Cuenta</span>
                            <ul>
                                <li class="">
                                    <a href="">Información</a>
                                </li>
                                <li class="">
                                    <a href="">Configuración</a>
                                </li>
                                <li class="">
                                    <a href="{% url 'index' %}">Cerrar Sesión</a>
                                </li>
                            </ul>
                        </li>

                        <li class="navbar-left">
                            <a href="">Empleados</a>

                        </li>

                        <li class="navbar-left">
                            <a href="{% url 'listaServicios' %}" role="button" onclick="goto_link ('/gestion/listaServicios/')">Servicios</a>

                        </li>

                        <li class="navbar-left">
                            <a href="">Clientes</a>

                        </li>


                        <!-- AGENDA !-->
                        <li class="navbar-right">
                            <a href=""><i class="fa fa-calendar-o"></i></a>

                        </li>

                        <li class="navbar-left">
                            <a href="{% url 'listaInsumos' %}" role="button" onclick="goto_link ('/gestion/listaInsumos/')">Insumos</a>
                            <!--
                            <ul>
                                <li class="">
                                    <a href="">Agenda1</a>
                                </li>
                                <li class="">
                                    <a href="">Agenda2</a>
                                </li>
                                <li class="">
                                    <a href="">Agenda3</a>
                                </li>
                            </ul>
                            !-->
                        </li>

                         <li class="navbar-left">
                            <a href="">Turnos</a>

                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block contenido %}
    <div id="content">
        <div class="container background-transparent">
            <div class="container">
                <div class="row margin-vert-30">
                    <!-- Login Box -->
                    <div class="col-md-6 col-md-offset-3 col-sm-offset-3">

                        <form method="post" class="login-page">
                            {% csrf_token %}
                            <div class="login-header margin-bottom-30">
                                <h2>Insumos de Catta</h2>
                            </div>
                            <!-- -->

                                {% for insumo in insumos %}
                                    <li>
                                    {{ insumo }}



                                    <a href="{% url 'modificarStockInsumo' insumo.id %}" class="btn btn-default btn-lg" role="button" onclick="goto_link ('gestion/modificarStockInsumo/1/2/')">+</a>

                                {% endfor %}

                        </form>

                    </div>
                    <!-- End Login Box -->
                </div>
            </div>
        </div>
        </div>
{% endblock %}