<div class="container background-white" style="opacity: 0.95;">
    <div class="row margin-vert-30">
        <div class="col-md-12">
            {% csrf_token %}

            <h2><font color="Purple"><font face="arial"><center> Listado de Turnos </center></font></font></h2>

            <table class="table table-striped">
                <thread>
                    <tr>
                        <th>Fecha</th>
                    </tr>
                </thread>
                <tbody>
                    {% for turno in turnos %}
                    <tr>
                        <td>{{turno.fecha}}</td>
                        <td><a href="{% url 'confirmar_turno' turno.id %}" class="btn btn-default btn-sm" role="button" onclick="goto_link ('turnos/confirmar_turno/1/')">+</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
