{% extends "empleado/base_empleado.html" %}

{% load staticfiles %}

{% block contenido %}
<div class="container background-white" style="opacity: 0.85">
    <div class="row margin-vert-30">
        <!-- Menú izquierdo -->
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Menú</h3>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <a href="#crear_cuenta" data-toggle="tab">
                                <i class="fa fa-user"></i>   Crear Cliente</a>
                        </li>
                        <li>
                            <a href="#crear_turno" data-toggle="tab">
                                <i class="fa fa-calendar-o"></i>   Crear Turno</a>
                        </li>
                        <li>
                            <a href="#crear_servicio" data-toggle="tab">
                                <i class="fa fa-scissors"></i>   Crear Servicio</a>
                        </li>
                        <li>
                            <a href="#crear_promo" data-toggle="tab">
                                <i class="fa fa-scissors"></i>   Crear Promocion</a>
                        </li>
                        <li>
                            <a href="#crear_turno_fijo" data-toggle="tab">
                                <i class="fa fa-calendar-o"></i>   Crear Turno Fijo</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Fin menú izquierdo -->
        <!-- Contenido -->
        <div class="col-md-9">
            <div class="tab-content">
                {% load crispy_forms_tags %}

                {% csrf_token %}
                <div class="tab-pane fade in" id="crear_cuenta">
                    <div class="panel panel-default">
                         <div class="container">
                                <div class="row margin-vert-30">
                                    <div class="col-md-8 col-md-offset-2 col-sm-offset-3">
                                            <div class="login-header margin-bottom-30">
                                                <h2><font color="Purple"><font face="arial"> Crear un cliente </font></font></h2>
                                            </div>

                                            {% crispy form_cliente %}
                                    </div>
                                </div>
                         </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="crear_servicio">
                        <div class="panel panel-default">
                            <div class="container">
                                <div class="row margin-vert-30">
                                    <div class="col-md-8 col-md-offset-2 col-sm-offset-3">
                                        <h2><font color="Purple"><font face="arial"><center> Crear Servicio </center></font></font></h2>
                                        {% crispy form_servicio %}
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>
                <div class="tab-pane fade in" id="crear_promo">
                        <div class="panel panel-default">
                            <div class="container">
                                <div class="row margin-vert-30">
                                    <div class="col-md-8 col-md-offset-2 col-sm-offset-3">
                                        <h2><font color="Purple"><font face="arial"><center> Crear Promoción </center></font></font></h2>
                                        {% crispy form_promo %}
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>
                <div class="tab-pane fade in" id="crear_turno">
                    <div id="acordeon-turnos" class="panel-group alternative">
                        <div class="panel panel-default">
                            <div class="container">
                                <div class="row margin-vert-30">
                                    <div class="col-md-8 col-md-offset-2 col-sm-offset-3">
                                        <h2><font color="Purple"><font face="arial"><center> Crear un turno </center></font></font></h2>
                                        {% crispy form_crear_turno %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="crear_turno_fijo">
                    <div class="panel panel-default">
                            <div class="container">
                                <div class="row margin-vert-30">
                                    <div class="col-md-8 col-md-offset-2 col-sm-offset-3">
                                            <div class="login-header margin-bottom-30">
                                                <h2><font color="Purple"><font face="arial"> Crear un turno Fijo </font></font></h2>
                                            </div>
                                            {% crispy form_crear_turno_fijo %}
                                    </div>
                                </div>
                           </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
    var URL_TURNOS_LIBRES = "{% url "devuelvo_turnos_libres" %}";
</script>
<script>
    $(function() {
        $(".datetimeinput").datepicker({
            minDate: new Date(),
            maxDate: 2050-12-31
        });
    });
</script>
<script>
$(function() {
    {% if formularioError %}
        $('a[href="#{{formularioError}}"]').tab('show');
    {% endif %}
});
</script>
<script type="text/javascript" src="{% static 'assets/js/turnos.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/turnos-fijos.js' %}"></script>
{% endblock %}
