{% extends "empleado/base_empleado.html" %}

{% load staticfiles %}

{% block contenido %}
<div class="container background-catta" style="opacity: 0.85">
    <div class="row margin-vert-30">
        <!-- Menú izquierdo -->
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Menú</h3>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <a href="#clientes" data-toggle="tab">
                                <i class="fa fa-user"></i>   Crear Cliente</a>
                        </li>
                        <li>
                            <a href="#turnos" data-toggle="tab">
                                <i class="fa fa-calendar-o"></i>   Crear Turno</a>
                        </li>
                        <li>
                            <a href="#modTurnos" data-toggle="tab">
                                <i class="fa fa-calendar-o"></i>   Modificar Turno</a>
                        </li>
                        <li>
                            <a href="#regTurnos" data-toggle="tab">
                                <i class="fa fa-calendar-o"></i>   Registrar Turno Realizado</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Fin menú izquierdo -->
        <!-- Contenido -->
        <div class="col-md-9">
            <div class="tab-content">
                {% load crispy_forms_tags %}

                {% csrf_token %}
                <div class="tab-pane fade in" id="clientes">
                    <!--<div id="acordeon-clientes" class="panel-group alternative">
                        <div class="panel panel-default">
                            <div class="container"> -->
                                <div class="row margin-vert-30">
                                    <div class="col-md-8 col-md-offset-2 col-sm-offset-3">
                                        <form method="post" class="login-page">
                                            <div class="login-header margin-bottom-30">
                                                <h2><font color="Purple"><font face="arial"> Dar de alta un cliente </font></font></h2>
                                            </div>

                                            {% crispy form_cliente %}

                                        </form>
                                    </div>
                                </div>
                            <!--</div>
                        </div>
                    </div> -->
                </div>
                <div class="tab-pane fade in" id="turnos">
                    <!--<div id="acordeon-turnos" class="panel-group alternative">
                        <div class="panel panel-default">
                            <div class="container"> -->
                                <div class="row margin-vert-30">
                                    <div class="col-md-8 col-md-offset-2 col-sm-offset-3">
                                        <form method="post" class="login-page">
                                            <div class="login-header margin-bottom-30">
                                                <h2><font color="Purple"><font face="arial"> Crear un turno nuevo </font></font></h2>
                                            </div>
                                            {% crispy form_crear_turno %}
                                        </form>
                                    </div>
                                </div>
                            <!--</div>
                        </div>
                    </div> -->
                </div>
                <div class="tab-pane fade in" id="modTurnos">
                    <!--<div id="acordeon-turnos" class="panel-group alternative">
                        <div class="panel panel-default">
                            <div class="container"> -->
                                <div class="row margin-vert-30">
                                    <div class="col-md-8 col-md-offset-2 col-sm-offset-3">
                                        <form method="post" class="login-page">
                                            <div class="login-header margin-bottom-30">
                                                <h2><font color="Purple"><font face="arial"> Modificar Turno </font></font></h2>
                                            </div>

                                                 {% crispy form_modificar_turno %}

                                        </form>
                                    </div>
                                </div>
                            <!--</div>
                        </div>
                    </div> -->
                </div>
                <div class="tab-pane fade in" id="regTurnos">
                    <!--<div id="acordeon-turnos" class="panel-group alternative">
                        <div class="panel panel-default">
                            <div class="container"> -->
                                <div class="row margin-vert-30">
                                    <div class="col-md-8 col-md-offset-2 col-sm-offset-3">
                                        <form method="post" class="login-page">
                                            <div class="login-header margin-bottom-30">
                                                <h2><font color="Purple"><font face="arial"> Registrar Turno Realizado </font></font></h2>
                                            </div>

                                                 {% crispy form_registrar_turno_realizado %}

                                        </form>
                                    </div>
                                </div>
                            <!--</div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
