{% extends "base/base.html" %}

{% load staticfiles %}

{% block contenido %}
    <div id="content">
        <div class="container background-transparent">
            <div class="container">
                <div class="row margin-vert-30">
                    <div class="col-md-6 col-md-offset-3 col-sm-offset-3">

                        <form method="post" class="login-page">
                            {% csrf_token %}
                            <div class="login-header margin-bottom-30">
                                <h2>Empleado</h2>
                            </div>

                                <li> Porcentaje Comision: {{ persona.empleado.porc_comision }}

                                <br>
                                <br>
                                Actualizar porcentaje comision: <br>
                                <input name="NuevaComision" value={{ persona.empleado.porc_comision }}>

                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-violet pull-right" type="submit" formmethod="post">Modificar Comision</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
        </div>
{% endblock %}
