{% extends "cliente/base_cliente.html" %}

{% load staticfiles %}

{% block contenido %}
<div class="container background-catta1" style="opacity: 0.85">
    <div class="row margin-vert-30">

        <!-- Contenido -->
        <div class="col-md-9">
            <div class="tab-content">
                {% load crispy_forms_tags %}

                {% csrf_token %}
                <div class="row margin-vert-30">
                    <div class="col-md-8 col-md-offset-4 col-sm-offset-3">
                        <form method="post" class="login-page">
                            <div class="login-header margin-bottom-30">
                                <h2><font color="Purple"><font face="arial"> Crear Turno </font></font></h2>
                            </div>

                                 {% crispy form %}

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
