{% extends "cliente/base_cliente.html" %}

{% load staticfiles %}

{% block contenido %}
       <div class="col-md-9">
            <div class="tab-content">
                {% load crispy_forms_tags %}

                <div class="tab-pane fade in" id="turnos">
                    <div id="acordeon-turnos" class="panel-group alternative">
                        <div class="panel panel-default">
                            <div class="container">
                                <div class="row margin-vert-30">
                                    <div class="col-md-8 col-md-offset-2 col-sm-offset-3">
                                        <h2><font color="Purple"><font face="arial"><center> Crear un turno </center></font></font></h2>

                                        {% crispy form %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}
