{% extends "cliente/base_cliente.html" %}

{% load staticfiles %}

{% block contenido %}
   <div id="info" class="container background-catta1" style="opacity: 0.85">
        <div class="row margin-vert-60">
            <div class="col-md-12">
                <h2 class="text-center"><font color="silver"><font size=6.9> Bienvenido a Catta </font></font></h2><br>
                <p class="text-center"><font color="white"><font size=3> Este es un espacio pensado para tu bienestar, un lugar donde
                    sólo entran vos, tu cuerpo y tu mente . Nuestro compromiso es cuidarte y ofrecerte siempre los tratamientos
                    que marcan la diferencia para lograr la mejor versión de vos misma.
                </font></font></p>
                <p class="text-center"><font color="white"><font size=3> Queremos ser el lugar que siempre quisiste encontrar: un lugar cálido, con atención
                    personalizada, pero principalmente, con el foco en brindar la máxima calidad técnica y humana al servicio
                    de tu belleza, tu salud y tu bienestar. Al entrar en el Centro de Estetica Catta, el tiempo parece detenerse.
                    Hay opciones completas para cuerpo, rostro y cabello. Para quienes necesiten un alto en medio del estrés urbano.
                </font></font></p>
            </div>
        </div>
    </div>
    <div id="content-bottom-border" class="container"></div>


    <div class="container background-transparent">
        <div class="row padding-vert-20">
            <div class="col-md-1">
            </div>
            <div class="col-md-10" >
                <ul class="portfolio-group">
                    {% for promocion in promociones %}
                        <li class="portfolio-item col-sm-6 col-xs-6 padding-20" >
                            <a id="{{promocion.pk}}" href="{% url 'crear_turno' %}"
                                <figure class="animated fadeInLeft">
                                    <img alt="promo1" src="{{promocion.imagen.url}}" width='397' height='210'>
                                    <figcaption>
                                        <h1> {{promocion.nombre}} </h1>
                                        <h5> {{promocion.descripcion}} </h5>
                                        <span> ${{promocion.precio}} </span>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
</div>
{% endblock %}
