{% extends "cliente/base_cliente.html" %}

{% load staticfiles %}

{% block contenido %}
   <div id="info" class="container background-catta1" style="opacity: 0.90">
        <div class="row margin-vert-60">
            <div class="col-md-12">
                <h2 class="text-center">Bienvenidos a Catta</h2>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                    lobortis nisl ut aliquip ex ea commodo consequat.
                </p>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                    lobortis nisl ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
    </div>
    <div id="content-bottom-border" class="container"></div>


    <div class="container background-transparent-lighter">
        <div class="row padding-vert-20">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <ul class="portfolio-group">
                    {% for promocion in promociones %}
                        <li class="portfolio-item col-sm-6 col-xs-6 padding-20">
                            <a href="#">
                                <figure class="animate fadeInLeft">
                                    <img alt="promo1" src="{{promocion.imagen.url}}" width='397' height='210'>
                                    <figcaption>
                                        <h1> {{promocion.nombre}} </h1>
                                        <h5> {{promocion.descripcion}} </h5>
                                        <span> ${{promocion.precio}} </span>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
</div>
{% endblock %}
