{% extends 'cliente/base_cliente.html' %}

{% load staticfiles %}

{% block contenido %}
    <div class="container background-white" style="opacity: 0.95;">
        <div class="row margin-vert-30">
            <div class="col-md-12">
                <h2><font color="Purple"><font face="arial"><center> Listado de Turnos </center></font></font></h2>


                <!-- FILTRADO !-->
                <form method="get" action="">

                    Empleado:
                    <input name="empleadoN" placeholder="Nombre" value="{{ f.empleadoN }}" class="filtro">
                    <input name="empleadoA" placeholder="Apellido" value="{{ f.empleadoA }}" class="filtro">
                    <br>
                    Desde:
                    <input name="fechaI" placeholder="Desde (aaa-mm-dd)" value="{{ f.fechaI }}" class="datetimeinput">
                    Hasta:
                    <input name="fechaF" placeholder="Hasta (aaa-mm-dd)" value="{{ f.fechaF }}" class="datetimeinput">
                    Servicio:
                    <input name="servicio" placeholder="Servicio" value="{{ f.servicio }}" class="filtro">
                    Estado:
                    <select name="estado">
                    {% for id, nombre in Turno.ESTADOS %}
                        {% if id == estado_filtrado %}
                            <option value="{{ id }}">
                            {{nombre}}
                            </option>
                        {% endif %}
                    {% endfor %}
                    <option value=""></option>
                    {% for id, nombre in Turno.ESTADOS %}
                        {% if estado_filtrado != id %}
                        <option value="{{ id }}">{{ nombre }}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                    <button class="btn btn-violet pull-right" type="submit">Filtrar</button><br><br>
                </form>
                <!--FIN FILTRADO!-->


                    <table class="table table-striped">
                        <thread>
                            <tr>
                                <th>Fecha y Hora</th>
                                <th>Empleado</th>
                                <th>Estado</th>
                                <th>Servicios</th>
                                <th>Modificar</th>
                                <th>Confirmar</th>
                                <th>Cancelar</th>

                            </tr>
                        </thread>
                        <tbody>
                            {% for turno in turnos %}
                            <tr>
                                <td width=140>{{turno.fecha}}</td>
                                <td>{{turno.empleado}}</td>
                                <td>{{turno.estado}}</td>
                                <td width=250>
                                    {% for promocion in turno.promociones.all %}
                                        <details>
                                            <summary>{{promocion}}</summary>
                                                {% for servicio in promocion.servicios.all %}
                                                      <li><i>{{servicio}}</i>
                                                {% endfor %}
                                        </details>
                                    {% endfor %}
                                    {% for servicio in turno.servicios.all %}
                                       <li> {{servicio}}
                                    {% endfor %}
                                </td>

                                <td width=20>
                                    {% if turno.fecha_confirmacion == null %}
                                        {% if turno.fecha_cancelacion == null %}
                                            <a href="{% url 'modificar_turno' turno.id %}" class="btn btn-default btn-sm" role="button">Modificar</a>
                                        {% endif %}
                                    {% endif %}
                                </td>

                                <td width=20>
                                    {% if turno.fecha_confirmacion == null %}
                                        {% if turno.fecha_cancelacion == null %}
                                            <a href="{% url 'confirmar_turno' turno.id %}" class="btn btn-default btn-sm" role="button">Confirmar</a>
                                        {% endif %}
                                    {% endif %}
                                </td>

                                <td width=20>
                                    {% if turno.fecha_cancelacion == null %}
                                        {% if turno.fecha_realizacion == null %}
                                            <a href="{% url 'cancelar_turno' turno.id %}" class="btn btn-default btn-sm" role="button">Cancelar</a>
                                        {% endif %}
                                    {% endif %}
                                </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
    $(function() {
        $(".datetimeinput").datepicker();
    });
</script>
{% endblock%}
