{% extends "base/base.html" %}

{% load staticfiles %}

{% block barra %}
<ul id="hornavmenu" class="navbar-fixed-top" style="height: 60px">
    <div class="navbar-right" style="margin-top: 12px;">
        <a class="btn btn-aqua" href="{% url 'cuenta' %}">Crear Cuenta</a>
        <a class="btn btn-green" href="{% url 'iniciar_sesion' %}">Iniciar Sesión</a>
    </div>
</ul>
{% endblock %}

{% block presentacion %}
    <!-- Espacio antes de la presentacion -->
    <div id="post_header" class="container" style="height:240px"></div>
    <!-- Fin espacio antes de la presentacion -->

    <!-- Presentación de la página -->
    <div class="container no-padding" style="height:440px">
        <left>
            <div class="row">
                <div class="col-sm-4 no-padding">
                    <h1 style="color: #FA5858;"><font size="30"><b>Catta</b></font></h1>
                    <h3 style="color: #FA5858;"><b>Tu centro de estetica, ahora mas cerca.</b></h3>
                    <div style="margin-top: 60px;">
                        <a href="#info" class="btn btn-primary btn-lg page-scroll" role="button">Aprenda más</a>
                        <a href="{% url 'cuenta' %}" class="btn btn-default btn-lg" role="button" onclick="goto_link('cuenta/')">Crear cuenta</a>
                    </div>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4"></div>
            </div>
        </left>
    </div>
{% endblock %}

{% block borde_arriba %}
<div id="content-top-border" class="container"></div>
{% endblock %}

{% block contenido %}
    <div class="container no-padding">
        <div class="row">
            <div id="carousel-example" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example" data-slide-to="1"></li>
                    <li data-target="#carousel-example" data-slide-to="2"></li>
                    <li data-target="#carousel-example" data-slide-to="3"></li>
                </ol>
                <div class="clearfix"></div>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="{% static 'assets/img/slideshow/catta.jpeg' %}" width="1400px">
                    </div>
                    <div class="item">
                        <img src="{% static 'assets/img/slideshow/catta1.jpeg' %}" width="1400px">
                    </div>
                    <div class="item">
                        <img src="{% static 'assets/img/slideshow/catta2.jpeg' %}" width="1400px">
                    </div>
                    <div class="item">
                        <img src="{% static 'assets/img/slideshow/catta3.jpeg' %}" width="1400px">
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
    <div id="info" class="container background-white">
        <div class="row margin-vert-60">
            <div class="col-md-12">
                <h2 class="text-center">Bienvenidos a Catta</h2>
                <p class="text-center">Este es un espacio pensado para tu bienestar, un lugar donde
                    sólo entran vos, tu cuerpo y tu mente . Nuestro compromiso es cuidarte y ofrecerte siempre los tratamientos
                    que marcan la diferencia para lograr la mejor versión de vos misma.
                </p>
                <p class="text-center">ueremos ser el lugar que siempre quisiste encontrar: un lugar cálido, con atención
                    personalizada, pero principalmente, con el foco en brindar la máxima calidad técnica y humana al servicio
                    de tu belleza, tu salud y tu bienestar. Al entrar en el Centro de Estetica Catta, el tiempo parece detenerse.
                    Hay opciones completas para cuerpo, rostro y cabello. Para quienes necesiten un alto en medio del estrés urbano.
                </p>
            </div>
        </div>
    </div>
    <div class="container background-gray-lighter">
        <div class="row padding-vert-20">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <ul class="portfolio-group">
                    {% for promocion in promociones %}
                        <li class="portfolio-item col-sm-6 col-xs-6 padding-20">
                            <a href="#">
                                <figure class="animate fadeInLeft">
                                    <img alt="promo1" src="{{promocion.imagen.url}}" width='397' height='210'>
                                    <figcaption>
                                        <h1> {{promocion.nombre}} </h1>
                                        <h5> {{promocion.descripcion}} </h5>
                                        <span> ${{promocion.precio}} </span>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
{% endblock %}

{% block borde_abajo %}
<div id="content-bottom-border" class="container"></div>
{% endblock %}

{% block footer %}
    <div id="base">
        <div class="container padding-vert-30 margin-top-60">
            <div class="row">
                <div class="col-md-4 margin-bottom-20">
                    <h3 class="margin-bottom-10">Detalles de Contacto</h3>
                    <p>
                        <span class="fa-phone">Teléfono:</span>(0280)421-xxxx
                        <br>
                        <span class="fa-envelope">Email:</span>
                        <a href="mailto:info@joomla51.com">info@catta.com</a>
                        <br>
                    </p>
                    <p>Calle X, 123,
                        <br>Gaiman, Chubut
                        <br>9100
                        <br>Argentina</p>
                </div>
                <div class="col-md-3 margin-bottom-20">
                    <h3 class="margin-bottom-10">En Catta contas con:</h3>
                    <ul class="menu">
                        <li>
                            <a class="fa-tasks" href="#">Servicio Profesional</a>
                        </li>
                        <li>
                            <a class="fa-users" href="#">La mejor atención</a>
                        </li>
                        <li>
                            <a class="fa-signal" href="#">Alto nivel de calidad</a>
                        </li>
                        <li>
                            <a class="fa-coffee" href="#">Zona de relax</a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3 margin-bottom-20 padding-vert-30 text-center">
                    <h3 class="color-gray margin-bottom-10">Novedades</h3>
                    <p>
                        Suscribite para saber todas las novedades de estilos y
                        <br>cortes del centro de estética más
                        <br>influyente de la región patagónica.
                    </p>
                    <input type="email">
                    <br>
                    <button class="btn btn-primary btn-lg margin-top-20" type="button">¡Suscribirme Ahora!</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div id="footermenu" class="col-md-8">
                    <ul class="list-unstyled list-inline">
                        <li>
                            <a href="#" target="_blank">Link</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Link</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Link</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Link</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
