{% extends "base/base.html" %}

{% load staticfiles %}


{% block contenido %}
<div id="content">
    <div class="container background-transparent">
        <div class="container">
            <div class="row margin-vert-30">
                <!-- Login Box -->
                <div class="col-md-6 col-md-offset-3 col-sm-offset-3">


                        <form method="post" class="login-page">
                            {% csrf_token %}
                            <div class="login-header margin-bottom-30">
                                <h2>Modificar Turno</h2>
                            </div>
                            <!-- -->
                            <div>
                                <li> Fecha: {{ turno.fecha }}
                                <li> Fecha de creación: {{ turno.fecha_creacion }}
                                <li> Cliente: {{ turno.cliente.persona.nombre }} {{ turno.cliente.persona.apellido }}
                                <li> Empleado: {{ turno.empleado.persona.nombre }} {{ turno.empleado.persona.apellido }}

                                <br>

                                {% load crispy_forms_tags %}
                                {% csrf_token %}
                                {% crispy form_modificar_turno %}
                                
                                {% if user == 'duenia' %}
                                    <a href="{% url 'duenio_lista_turnos' %}" button type="button" class="btn btn-danger" role="button">Cancelar</a>
                                {% else %}
                                    <a href="{% url 'empleado_lista_turnos' %}" button type="button" class="btn btn-danger" role="button">Cancelar</a>
                                {% endif %}
                                
                            </div>
                        </form>

                </div>
                <!-- End Login Box -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
