{% extends "base/base.html" %}

{% load staticfiles %}


{% block contenido %}
<div id="content">
    <div class="container background-transparent">
        <div class="container">
            <div class="row margin-vert-30">
                <!-- Login Box -->
                <div class="col-md-6 col-md-offset-3 col-sm-offset-3">


                        <form method="post" class="login-page">
                            {% csrf_token %}
                            <div class="login-header margin-bottom-30">
                                <h2>Marcar Turno como Realizado</h2>
                            </div>
                            <!-- -->
                            <div>

                                {% load crispy_forms_tags %}
                                {% csrf_token %}
                                {% crispy form_registrar_turno_realizado %}

                                {% if user == 'duenia' %}
                                    <a href="{% url 'duenio_lista_turnos' %}" button type="button" class="btn btn-danger" role="button">Cancelar</a>
                                {% elif user == 'empleado' %}
                                    <a href="{% url 'empleado_lista_turnos' %}" button type="button" class="btn btn-danger" role="button">Cancelar</a>
                                {% elif user == 'cliente' %}
                                    <a href="{% url 'cliente_lista_turnos' %}" button type="button" class="btn btn-danger" role="button">Cancelar</a>  
                                {% endif %}
                            </div>
                        </form>

                </div>
                <!-- End Login Box -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
