{% extends 'duenio/base_duenio.html' %}

{% load staticfiles %}

{% block links %}
<link rel="stylesheet" href="{% static 'assets/css/fullcalendar.css' %}">
<script type="text/javascript" src="{% static 'assets/js/jquery.min.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'assets/js/moment.min.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'assets/js/fullcalendar.js' %}"></script>
<script type='text/javascript'>
$(document).ready(function() {
    $('#calendar').fullCalendar({
        events: "",
        weekends: false,
        editable: false,
    });
});
</script>
{% endblock %}

{% block contenido %}
    <div class="container background-white" style="opacity: 0.95;">
        <div class="row margin-vert-30">
            <div class="col-md-12">
                {% csrf_token %}

                <h2><font color="Purple"><font face="arial"><center> Agenda </center></font></font></h2>

                <div id="calendar"></div>

            </div>
        </div>
    </div>
{% endblock %}
