{% extends "base/base.html" %}

{% load staticfiles %}

{% block barra %}
    <div id="hornav" class="container no-padding">
        <div class="row">
            <div class="col-md-12 no-padding">
                <div class="visible-lg">
                    <ul id="hornavmenu" class="nav navbar-nav navbar-fixed-top" style="height: 60px">
                        <li class="navbar-left">
                            <a href="{% url 'duenio' %}" class="fa-home">Principal</a>
                        </li>
                        <li class="navbar-right">
                            <span class="fa-user-md">Cuenta</span>
                            <ul>
                                <li class="">
                                    <a href="">Información</a>
                                </li>
                                <li class="">
                                    <a href="">Configuración</a>
                                </li>
                                <li class="">
                                    <a href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a>
                                </li>
                            </ul>
                        </li>
                        <li class="navbar-left">
                            <a href="{% url 'duenio_lista_empleados' %}" role="button" onclick="goto_link ('/duenio/duenio_lista_empleados/')">Empleados</a>
                        </li>
                        <li class="navbar-left">
                            <a href="{% url 'duenio_lista_clientes' %}" role="button" onclick="goto_link ('/duenio/duenio_lista_clientes/')">Clientes</a>
                        </li>
                        <li class="navbar-left">
                            <a href="{% url 'listaServicios' %}" role="button" onclick="goto_link ('/gestion/listaServicios/')">Servicios</a>
                        </li>
                        <li class="navbar-left">
                            <a href="{% url 'listaInsumos' %}" role="button" onclick="goto_link ('/gestion/listaInsumos/')">Insumos</a>
                        </li>
                        <li class="navbar-left">
                            <a href="">Turnos</a>
                        </li>
                        <!-- AGENDA !-->
                        <li class="navbar-right">
                            <a href=""><i class="fa fa-calendar-o"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block borde_arriba %}
<div id="content-top-border" class="container"></div>
{% endblock %}

{% block borde_abajo %}
<div id="content-bottom-border" class="container"></div>
{% endblock %}
