{% extends "base/base.html" %}

{% load staticfiles %}

{% block barra %}
    <div id="hornav" class="container no-padding">
        <div class="row">
            <div class="col-md-12 no-padding">
                <div class="visible-lg">
                    <ul id="hornavmenu" class="nav navbar-nav navbar-fixed-top" style="height: 60px">
                        <li class="navbar-left">
                            <a href="{% url 'duenio' %}" class="fa-home">Principal</a>
                        </li>
                        <li class="navbar-right">
                            <span class="fa-user-md">Cuenta</span>
                            <ul>
                                <li class="">
                                    <a href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a>
                                </li>
                            </ul>
                        </li>
                        <li class="navbar-left">
                            <a href="{% url 'duenio_lista_empleados' %}" role="button" onclick="goto_link ('/duenio/duenio_lista_empleados/')">Empleados</a>
                        </li>
                        <li class="navbar-left">
                            <a href="{% url 'duenio_lista_clientes' %}" role="button" onclick="goto_link ('/duenio/duenio_lista_clientes/')">Clientes</a>
                        </li>
                        <li class="navbar-left">
                            <a href="{% url 'duenio_lista_servicios' %}" role="button" onclick="goto_link ('/duenio/duenio_lista_servicios/')">Servicios</a>
                        </li>
                        <li class="navbar-left">
                            <a href="{% url 'duenio_lista_insumos' %}" role="button" onclick="goto_link ('/duenio/duenio_lista_insumos/')">Insumos</a>
                        </li>
                        <li class="navbar-left">
                            <script> 
                                n1 = new Date();
                                n1.setDate(n1.getDate() -7)
                                yI = n1.getFullYear();
                                mI = n1.getMonth() + 1;
                                dI = n1.getDate();
                                n2 =  new Date();
                                yF = n2.getFullYear();
                                mF = n2.getMonth() + 1;
                                dF = n2.getDate();
                                fechaFn = yF + "-" + mF + "-" + dF;
                                fechaIn = yI + "-" + mI + "-" + dI;
                                cadena = "<a href=\"{% url 'duenio_lista_turnos' %}?clienteN=&clienteA=&empleadoN=&empleadoA=&fechaI=" + fechaIn + "&fechaF=" + fechaFn + "&servicio=\" role=\"button\" onclick=\"goto_link ('/duenio/duenio_lista_turnos/')\">Turnos</a>"
                                document.write(cadena); 
                            </script>
                        </li>
                        <li class="navbar-left">
                            <a href="{% url 'duenio_lista_comisiones' %}" role="button" onclick="goto_link ('/duenio/duenio_lista_comisiones/')">Comisiones</a>
                        </li>
                        <li class="navbar-left">
                            <span>Reportes</span>
                            <ul>
                                <li class="">
                                    <script> 
                                        n1 = new Date();
                                        n1.setDate(n1.getDate() -7)
                                        yI = n1.getFullYear();
                                        mI = n1.getMonth() + 1;
                                        dI = n1.getDate();
                                        n2 =  new Date();
                                        yF = n2.getFullYear();
                                        mF = n2.getMonth() + 1;
                                        dF = n2.getDate();
                                        fechaFn = yF + "-" + mF + "-" + dF;
                                        fechaIn = yI + "-" + mI + "-" + dI;
                                        cadena = "<a href=\"{% url 'ingreso_neto' %}?clienteN=&clienteA=&empleadoN=&empleadoA=&fechaI=" + fechaIn + "&fechaF=" + fechaFn + "&servicio=\">Ingreso Neto</a>"
                                        document.write(cadena); 
                                    </script>
                                </li>                                
                                <li class="">
                                    <a href="{% url 'servicios_mas_solicitados' %}">Servicios/Promociones más Solicitados</a>
                                </li>
                                <li class="">
                                    <a href="{% url 'mes_mayor_trabajo' %}">Mes con Mayor Trabajo</a>
                                </li>
                                <li class="">
                                    <a href="{% url 'dia_mayor_trabajo' %}">Días con Mayor Trabajo</a>
                                </li>
                                <li class="">
                                    <a href="{% url 'dias_mayor_creaciones_turnos' %}">Días con mayor creaciones de turnos</a>
                                </li>
                                <li class="">
                                    <a href="{% url 'clientes_con_mas_ausencias' %}">Clientes con más ausencias</a>
                                </li>
                                <li class="">
                                    <a href="{% url 'empleados_mas_solicitados' %}">Empleados Más Solicitados</a>
                                </li>
                                <li class="">
                                    <a href="{% url 'horarios_mas_solicitados' %}">Horarios Más Solicitados</a>
                                </li>
                            </ul>
                        </li>
                        <!-- AGENDA !-->
                        <li class="navbar-right">
                            <a href="{% url 'agenda_duenio' %}" role="button" onclick="goto_link ('/duenio/agenda/')"><i class="fa fa-calendar-o"></i></a>
                        </li>
                        <li class="navbar-right" >
                            <a href="{%url 'ayuda_duenio' %}" target="_blank" role="button">AYUDA</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block borde_arriba %}
<div id="content-top-border" class="container"></div>
{% endblock %}

{% block borde_abajo %}
<div id="content-bottom-border" class="container"></div>
{% endblock %}

{% block scripts %}
    {{ block.super }}

    <script>
        $(function() {
            $(".filtro").on("focusout", function(e) {
                $(e.target).parent("form").submit();
            })
        });
    </script>
    <script>
        $(myFunction(){
            windows.open();
        });
    </script>
{% endblock %}
