{% extends 'duenio/base_duenio.html' %}

{% load staticfiles %}

{% block contenido %}
    <div class="container background-white" style="opacity: 0.95;">
        <div class="row margin-vert-30">
            <div class="col-md-12">
                {% csrf_token %}

                <h2><font color="Purple"><font face="arial"><center> Listado de Clientes </center></font></font></h2>
                    <form method="get" action="">
                        <input name="dni" placeholder="DNI" value="{{ f.dni }}" class="filtro">
                        <input name="nombre" placeholder="Nombre" value="{{ f.nombre }}" class="filtro">
                        <input name="apellido" placeholder="Apellido" value="{{ f.apellido }}" class="filtro">
                        <input name="localidad" placeholder="Localidad" value="{{ f.localidad }}" class="filtro">
                        <button class="btn btn-violet pull-right" type="submit">Filtrar</button>
                    </form>
                    <!-- asnbxjhavsx -->
                    <div class="col-lg-1">
                        <a href="{% url 'reporte_clientes_pdf' %}" class="btn btn-info btn-block"><span class="glyphicon glyphicon-file"></span></a>
                    </div>
                    <!-- asnbxjhavsx -->
                <table class="table table-striped">
                    <thread>
                        <tr>
                            <th>DNI</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Direccion</th>
                            <th>Teléfono</th>
                            <th>Localidad</th>
                            <th>E-Mail</th>
                        </tr>
                    </thread>
                    <tbody>
                        {% for cliente in clientes %}
                        <tr>
                            <td>{{cliente.dni}}</td>
                            <td>{{cliente.nombre}}</td>
                            <td>{{cliente.apellido}}</td>
                            <td>{{cliente.direccion}}</td>
                            <td>{{cliente.telefono}}</td>
                            <td>{{cliente.localidad}}</td>
                            <td>{{cliente.cliente.email}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script>
        $(".filtro").on("focusout", function(e) {
            console.log("filtar");
            $(e.target).parent("form").submit();
        })
    </script>
{% endblock %}
