{% extends 'duenio/base_duenio.html' %}

{% load staticfiles %}

{% block contenido %}
    <div class="container background-white" style="opacity: 0.95;">
        <div class="row margin-vert-30">
            <div class="col-md-12">

              <div class="row" style="height:60px">
                <center>
                  <h2><font color="Purple" face="arial"> Dias de Mayor Trabajo</font></h2>
                </center>
              </div>
              <div class="row" style="height:80px">
                <!-- FILTRADO !-->
                <form method="get" action="">
                    Cliente:
                    <input name="clienteN" placeholder="Nombre" value="{{ f.clienteN }}" class="filtro">
                    <input name="clienteA" placeholder="Apellido" value="{{ f.clienteA }}" class="filtro">

                    Empleado:
                    <input name="empleadoN" placeholder="Nombre" value="{{ f.empleadoN }}" class="filtro">
                    <input name="empleadoA" placeholder="Apellido" value="{{ f.empleadoA }}" class="filtro">
                    <br>
                    Desde:
                    <input name="fechaI" placeholder="Desde (aaaa-mm-dd)" value="{{ f.fechaI }}" class="datetimeinput">
                    Hasta:
                    <input name="fechaF" placeholder="Hasta (aaaa-mm-dd)" value="{{ f.fechaF }}" class="datetimeinput">
                    Servicio:
                    <input name="servicio" placeholder="Servicio" value="{{ f.servicio }}" class="filtro">
                    <button class="btn btn-violet pull-right" type="submit">Filtrar</button><br><br>
                </form>
                <!--FIN FILTRADO!-->
              </div>
              <div class="row" style="height:50px">
                <center>
                  <a href="{% url 'reporte_turnos_pdf' %}" target="_blank" class="btn btn-violet btn-info">
                    <span class="glyphicon glyphicon-file"><font face="arial"> Exportar a PDF </font></span>
                  </a>
                </center>
              </div>
                <table class="table table-striped">
                    <thread>
                        <tr>
                            <th>Domingo </th>
                            <th>Lunes</th>
                            <th>Martes</th>
                            <th>Miércoles</th>
                            <th>Jueves</th>
                            <th>Viernes</th>
                            <th>Sabado</th>
                        </tr>
                    </thread>
                    <tbody>
                        {% for turno in turnos %}
                        <tr>
                            <td {{turno.domingo}</td>
                            <td>{{turno.cliente}}</td>
                            <td>{{turno.empleado}}</td>
                            <td>{{turno.estado}}</td>
                            <td width=250>
                                {% for promocion in turno.promociones.all %}
                                    <details>
                                        <summary>{{promocion}}</summary>
                                            {% for servicio in promocion.servicios.all %}
                                                  <li><i>{{servicio}}</i>
                                            {% endfor %}
                                    </details>
                                {% endfor %}
                                {% for servicio in turno.servicios.all %}
                                   <li> {{servicio}}
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% for key, value in dias.items %}
                    {{ key }}: {{ value }}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
    $(function() {
        $(".datetimeinput").datepicker();
    });
</script>
{% endblock%}