{% extends 'duenio/base_duenio.html' %}

{% load staticfiles %}

{% block contenido %}
        <div class="container background-white" style="opacity: 0.95;">
            <div class="row margin-vert-30">
                <div class="col-md-12">
                  <div class="row" style="height:60px">
                    <center>
                      <h2><font color="Purple" face="arial"> Empleados Más Solicitados</font></h2>
                    </center>
                  </div>
                  <div class="row" style="height:80px">
                    <!-- FILTRADO !-->
                    <form method="get" action="">
                        Sector:                        
                        <input list="sectores" name="sector" placeholder="Sector" value="{{ f.sector }}" class="filtro"> 
                        <datalist id="sectores">
                            {% for sector in sectores %}
                                <option label="{{sector.nombre}}" value="{{sector.nombre}}">
                            {% endfor %}
                        </datalist>
                        Desde:
                        <input name="fechaI" placeholder="Desde (aaaa-mm-dd)" value="{{ f.fechaI }}" class="datetimeinput">
                        Hasta:
                        <input name="fechaF" placeholder="Hasta (aaaa-mm-dd)" value="{{ f.fechaF }}" class="datetimeinput">
                        <button class="btn btn-violet pull-right" type="submit">Filtrar</button><br><br>
                    </form>
                    <!--FIN FILTRADO!-->
                  </div>
                  
                  <div class="row" style="height:50px">
                    <center>
                      <a href="{% url 'empleados_mas_solicitados_pdf' %}" target="_blank" class="btn btn-violet btn-info">
                        <span class="glyphicon glyphicon-file"><font face="arial"> Exportar a PDF </font></span>
                      </a>
                    </center>
                  </div>
                  <table class="table table-striped">
                      <thread>
                          <tr>
                              <th>Nombre</th>
                              <th>Apellido</th>
                              <th>Sector</th>
                              <th>Turnos Realizados</th>

                          </tr>
                      </thread>
                      <tbody>
                          {% for empleado in empleados %}
                          <tr>
                              <td>{{empleado.persona.nombre}}</td>
                              <td>{{empleado.persona.apellido}}</td>
                              <td>{{empleado.sector}}</td>
                              <td>{{empleado.cantidad_de_turnos}}</td>
                          </tr>
                          {% endfor %}

                          
                      </tbody>
                  </table>
                  <div id="canvas1" sytle="width:50%"><canvas id="myChart" width="2" height="2"></canvas></div>                  
                  <div id="canvas2" sytle="width:50%"><canvas id="myChart2" width="2" height="2"></canvas></div>                  
                  <div id="canvas3" sytle="width:50%"><canvas id="myChart3" width="2" height="2"></canvas></div>                  
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}
{{ block.super }}

<script src="\static\assets\js\Chart.min.js"></script>
<script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [
                    {% for empleado in empleados %}
                            "{{empleado.persona.nombre}}",
                    {% endfor %}
                    ],
            datasets: [{
                label: 'Turnos Realizados',
                data: [
                        {% for empleado in empleados %}
                                {{empleado.cantidad_de_turnos}},
                        {% endfor %}
                    ],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
</script>
<script>
    var ctx = document.getElementById("myChart2").getContext('2d');
    var myChart2 = new Chart(ctx, {
        type: 'polarArea',
        data: {
            labels: [
                    {% for empleado in empleados %}
                            "{{empleado.persona.nombre}}",
                    {% endfor %}
                    ],
            datasets: [{
                label: 'Turnos Realizados',
                data: [
                        {% for empleado in empleados %}
                                {{empleado.cantidad_de_turnos}},
                        {% endfor %}
                    ],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
</script>
<script>
    var ctx = document.getElementById("myChart3").getContext('2d');
    var myChart2 = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [
                    {% for empleado in empleados %}
                            "{{empleado.persona.nombre}}",
                    {% endfor %}
                    ],
            datasets: [{
                label: 'Turnos Realizados',
                data: [
                        {% for empleado in empleados %}
                                {{empleado.cantidad_de_turnos}},
                        {% endfor %}
                    ],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
</script>
<script>
    $(function() {
        $(".datetimeinput").datepicker();
    });
</script>
{% endblock%}
