{% extends 'duenio/base_duenio.html' %}

{% load staticfiles %}

{% block contenido %}
    <div class="container background-white" style="opacity: 0.95;">
        <div class="row margin-vert-30">
            <div class="col-md-12">
              <div class="row" style="height:60px">
                <center>
                         <div class="col-md-10">
                           <h2><font color="Purple" face="arial"> Horarios Más Solicitados</font></h2>
                        </div>
                        <div class="col-md-2">
                            <h4><a href="{% url 'ayuda_duenio' %}?pag=horariosMasSolicitados" button type="button" class="glyphicon glyphicon-question-sign" target="_blank" role="button"></center></a></h4>
                        </div>
                </center>
              </div>
              <div class="row" style="height:80px">
                <!-- FILTRADO !-->
                <form method="get" action="">
                    Cliente:
                    <input name="clienteN" placeholder="Nombre" value="{{ f.clienteN }}" class="filtro">
                    <input name="clienteA" placeholder="Apellido" value="{{ f.clienteA }}" class="filtro">

                    Empleado:
                    <input name="empleadoN" placeholder="Nombre" value="{{ f.empleadoN }}" class="filtro">
                    <input name="empleadoA" placeholder="Apellido" value="{{ f.empleadoA }}" class="filtro">
                    <br>
                    Desde:
                    <input name="fechaI" placeholder="Desde (aaaa-mm-dd)" value="{{ f.fechaI }}" class="datetimeinput">
                    Hasta:
                    <input name="fechaF" placeholder="Hasta (aaaa-mm-dd)" value="{{ f.fechaF }}" class="datetimeinput">
                    Servicio:
                    <input name="servicio" placeholder="Servicio" value="{{ f.servicio }}" class="filtro">
                    <button class="btn btn-violet pull-right" type="submit">Filtrar</button><br><br>
                </form>
                <!--FIN FILTRADO!-->
              </div>
              <div class="row" style="height:50px">
              </div>
                <table class="table table-striped">
                    <thread>
                        <tr>
                            <th>Horario</th>
                            <th>Cantidad de Turnos</th>
                        </tr>
                    </thread>
                    <tbody>
                        {% for horario in horarios %}
                            {% if horario.cantidad_de_turnos != 0 %}
                                <tr>
                                    <td >{{horario.hora}}</td>
                                    <td>{{horario.cantidad_de_turnos}}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                <div class="chart-container1"><canvas id="myChart1"></canvas></div>  
                <table style="width:100%">
                  <tr>
                  <th><div class="chart-container2"><canvas id="myChart2"></canvas></div></th>
                  <th><div class="chart-container2"><canvas id="myChart3"></canvas></div></th>
                  <tr>    
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="\static\assets\js\Chart.min.js"></script>
<script>
    var ctx = document.getElementById("myChart1").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [
                    {% for horario in horarios %}
                            "{{horario.hora}}",
                    {% endfor %}
                    ],
            datasets: [{
                label: 'Cantidad de Turnos',
                data: [
                        {% for horario in horarios %}
                                {{horario.cantidad_de_turnos}},
                        {% endfor %}
                    ],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
</script>
<script>
    var ctx = document.getElementById("myChart2").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'polarArea',
        data: {
            labels: [
                    {% for horario in horarios %}
                            "{{horario.hora}}",
                    {% endfor %}
                    ],
            datasets: [{
                label: 'Cantidad de Turnos',
                data: [
                        {% for horario in horarios %}
                                {{horario.cantidad_de_turnos}},
                        {% endfor %}
                    ],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
</script>
<script>
    var ctx = document.getElementById("myChart3").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [
                    {% for horario in horarios %}
                            "{{horario.hora}}",
                    {% endfor %}
                    ],
            datasets: [{
                label: 'Cantidad de Turnos',
                data: [
                        {% for horario in horarios %}
                                {{horario.cantidad_de_turnos}},
                        {% endfor %}
                    ],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
</script>
<script>
    $(function() {
        $(".datetimeinput").datepicker();
    });
</script>
{% endblock%}