{% extends "base/base.html" %}

{% load staticfiles %}

{% block barra %}
    <div id="hornav" class="container no-padding">
        <div class="row">
            <div class="col-md-12 no-padding">
                <div class="visible-lg">
                    <ul id="hornavmenu" class="nav navbar-nav navbar-fixed-top" style="height: 60px">
                        <li class="navbar-left">
                            <a href="{% url 'index' %}" class="fa-home">Principal</a>
                        </li>
                        <li class="navbar-right">
                            <span class="fa-user-md">Cuenta</span>
                            <ul>
                                <li class="parent">
                                    <a href="#">Información</a>
                                </li>
                                <li class="parent">
                                    <a href="">Configuración</a>
                                </li>
                                <li class="parent">
                                    <a href="">Cerrar Sesión</a>
                                </li>
                            </ul>
                        </li>

                        <li class="navbar-left">
                            <a href="">Empleados</a>
                        </li>

                        <li class="navbar-left">
                            <a href="">Servicios</a>
                        </li>


                        <li class="navbar-left">
                            <a href="">Clientes</a>
                        </li>

                        <li class="navbar-left">
                            <a href="">Agenda</a>
                        </li>

                         <li class="navbar-left">
                            <a href="">Turnos</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block contenido %}
    <div id="content">
        <div class="container background-white">
            <div class="row margin-vert-30">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Menú</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="posts-list margin-top-10">
                                <li>
                                    <div class="recent-post">
                                        <a class="btn btn-aqua" href="{% url 'nuevo_empleado' %}">Nuevo Empleado</a>
                                        <br>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <div class="recent-post">
                                        <button type="submit" class="btn btn-aqua" href="#">Nuevo Servicio</button>
                                        <br>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <div class="recent-post">
                                        <a class="btn btn-aqua" href="{% url 'nuevo_cliente' %}">Nuevo Cliente</a>
                                        <br>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <div class="recent-post">
                                        <a class="btn btn-aqua" href="{% url 'sector' %}">Nuevo Sector</a>
                                        <br>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <div class="recent-post">
                                        <button type="submit" class="btn btn-aqua" href="#">Nuevo Insumo</button>
                                        <br>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <div class="recent-post">
                                        <button type="submit" class="btn btn-aqua" href="#">Liquidar comisones diarias</button>
                                        <br>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <!-- Tab v1 -->
                    <div class="tabs">

                        <div class="tab-content">
                            <h1 align="center"> Bienvenido </h1>
                            <p>MI vieja mula</p>
                        </div>
                    </div>
                    <!-- End Tab v1 -->
                    <div class="margin-bottom-30">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
