{% extends "duenio/base_duenio.html" %}

{% load staticfiles %}

{% block contenido %}
<div class="container background-white" style="opacity: 0.95">
    <div class="row margin-vert-30">
        <!-- Menú izquierdo -->
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Menú</h3>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <a href="#crear_turno" data-toggle="tab">
                                <i class="fa fa-calendar-o"></i>  Crear Turno</a>
                        </li>
                        <li>
                            <a href="#crear_servicio" data-toggle="tab">
                                <i class="fa fa-scissors"></i>  Crear Servicio</a>
                        </li>
                         <li>
                            <a href="#crear_promo" data-toggle="tab">
                                <i class="fa fa-scissors"></i> Crear Promoción</a>
                        </li>
                        <li>
                            <a href="#crear_empleado" data-toggle="tab">
                                <i class="fa fa-user"></i>   Crear Empleado</a>
                        </li>
                            <li>
                            <a href="#crear_cuenta" data-toggle="tab">
                                <i class="fa fa-user"></i>   Crear Cliente</a>
                        </li>
                        <li>
                            <a href="#crear_sector" data-toggle="tab">
                                <i class="fa fa-tags"></i>  Crear Sector</a>
                        </li>
                        <li>
                            <a href="#crear_insumo" data-toggle="tab">
                                <i class="fa fa-shopping-cart"></i>  Crear Insumo</a>
                        </li>
                        <li>
                            <a href="#liquidar_comision" data-toggle="tab">
                                <i class="fa-money"></i>Liquidar Comisión</a>
                        </li>
                        <li>
                            <a href="#crear_turno_fijo" data-toggle="tab">
                                <i class="fa fa-calendar-o"></i>  Crear Turno Fijo</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Fin menú izquierdo -->
        <!-- Contenido -->
        <div class="col-md-9">
            <div class="tab-content">
                    {% if messages %}
                    <div class="alert alert-success alert-dismissable">
                            <a class="close" data-dismiss="alert" aria-label="close">×</a>
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                {% load crispy_forms_tags %}

                <div class="tab-pane fade in" id="crear_turno">
                    <div id="acordeon-turnos" class="panel-group alternative">
                        <div class="panel panel-default">
                            <div class="container">
                                <div class="row margin-vert-30">
                                    <div class="col-md-8 col-md-offset-2 col-sm-offset-3">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <h2><font color="Purple"><font face="arial"><center> Crear un turno </center></font></font></h2>
                                                </div>
                                                <div class="col-md-2">
                                                    <h4><a href="{% url 'ayuda_duenio' %}" button type="button" class="glyphicon glyphicon-question-sign" target="_blank" role="button"></center></a></h4>
                                                </div>
                                            </div>
                                        {% crispy form_crear_turno %}
                                        <h6>Los campos que contienen asteriscos(*) son obligatorios.</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="crear_servicio">
                    <div id="acordeon-servicios" class="panel-group alternative">
                        <div class="panel panel-default">
                            <div class="container">
                                <div class="row margin-vert-30">
                                    <div class="col-md-8 col-md-offset-2 col-sm-offset-3">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <h2><font color="Purple"><font face="arial"><center>  Crear un Servicio </center></font></font></h2>
                                            </div>
                                            <div class="col-md-2">
                                                <h4><a href="{% url 'ayuda_duenio' %}" button type="button" class="glyphicon glyphicon-question-sign" target="_blank" role="button"></center></a></h4>
                                            </div>
                                        </div>
                                        {% crispy form_servicio %}
                                        <h6>Los campos que contienen asteriscos(*) son obligatorios.</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="crear_promo">
                    <div id="acordeon-promociones" class="panel-group alternative">
                        <div class="panel panel-default">
                            <div class="container">
                                <div class="row margin-vert-30">
                                    <div class="col-md-8 col-md-offset-2 col-sm-offset-3">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <h2><font color="Purple"><font face="arial"><center>Crear una Promoción</center></font></font></h2>
                                            </div>
                                            <div class="col-md-2">
                                                <h4><a href="{% url 'ayuda_duenio' %}" button type="button" class="glyphicon glyphicon-question-sign" target="_blank" role="button"></center></a></h4>
                                            </div>
                                        </div>
                                        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                                            {% crispy form_promo %}
                                        </form>
                                        <h6>Los campos que contienen asteriscos(*) son obligatorios.</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="crear_empleado">
                    <div id="acordeon-empleados" class="panel-group alternative">
                        <div class="panel panel-default">
                            <div class="container">
                                <div class="row margin-vert-30">
                                    <div class="col-md-8 col-md-offset-2 col-sm-offset-3">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <h2><font color="Purple"><font face="arial"><center>  Crear un Empleado </center></font></font></h2>
                                            </div>
                                            <div class="col-md-2">
                                                <h4><a href="{% url 'ayuda_duenio' %}" button type="button" class="glyphicon glyphicon-question-sign" target="_blank" role="button"></center></a></h4>
                                            </div>
                                        </div>
                                        {% crispy form_empleado %}
                                        <h6>Los campos que contienen asteriscos(*) son obligatorios.</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="crear_cuenta">
                    <div id="acordeon-clientes" class="panel-group alternative">
                        <div class="panel panel-default">
                            <div class="container">
                                <div class="row margin-vert-30">
                                    <div class="col-md-8 col-md-offset-2 col-sm-offset-3">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <h2><font color="Purple"><font face="arial"><center> Crear un Cliente </center></font></font></h2>
                                            </div>
                                            <div class="col-md-2">
                                                <h4><a href="{% url 'ayuda_duenio' %}" button type="button" class="glyphicon glyphicon-question-sign" target="_blank" role="button"></center></a></h4>
                                            </div>
                                        </div>
                                        {% crispy form_cliente %}
                                        <h6>Los campos que contienen asteriscos(*) son obligatorios.</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="crear_sector">
                    <div id="acordeon-sector" class="panel-group alternative">
                        <div class="panel panel-default">
                            <div class="container">
                                <div class="row margin-vert-30">
                                    <div class="col-md-8 col-md-offset-2 col-sm-offset-3">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <h2><font color="Purple"><font face="arial"><center>  Crear un Sector </center></font></font></h2>
                                            </div>
                                            <div class="col-md-2">
                                                <h4><a href="{% url 'ayuda_duenio' %}" button type="button" class="glyphicon glyphicon-question-sign" target="_blank" role="button"></center></a></h4>
                                            </div>
                                        </div>
                                        {% crispy form_sector %}
                                        <h6>Los campos que contienen asteriscos(*) son obligatorios.</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="crear_insumo">
                    <div id="acordeon-insumo" class="panel-group alternative">
                        <div class="panel panel-default">
                            <div class="container">
                                <div class="row margin-vert-30">
                                    <div class="col-md-8 col-md-offset-2 col-sm-offset-3">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <h2><font color="Purple"><font face="arial"><center>  Crear un Insumo </center></font></font></h2>
                                            </div>
                                            <div class="col-md-2">
                                                <h4><a href="{% url 'ayuda_duenio' %}" button type="button" class="glyphicon glyphicon-question-sign" target="_blank" role="button"></center></a></h4>
                                            </div>
                                        </div>
                                        {% crispy form_insumo %}
                                        <h6>Los campos que contienen asteriscos(*) son obligatorios.</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="crear_turno_fijo" >
                    <div id="acordeon-turnoFijo" class="panel-group alternative">
                        <div class="panel panel-default">
                            <div class="container">
                                <div class="row margin-vert-30">
                                    <div class="col-md-8 col-md-offset-2 col-sm-offset-3">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <h2><font color="Purple"><font face="arial"><center> Crear Turno Fijo </center></font></font></h2>
                                            </div>
                                            <div class="col-md-2">
                                                <h4><a href="{% url 'ayuda_duenio' %}" button type="button" class="glyphicon glyphicon-question-sign" target="_blank" role="button"></center></a></h4>
                                            </div>
                                        </div>
                                        {% crispy form_crear_turno_fijo %}
                                        <h6>Los campos que contienen asteriscos(*) son obligatorios.</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="liquidar_comision" >
                    <div id="acordeon-comision" class="panel-group alternative">
                        <div class="panel panel-default">
                            <div class="container">
                                <div class="row margin-vert-30">
                                    <div class="col-md-8 col-md-offset-2 col-sm-offset-3">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <h2><font color="Purple"><font face="arial"><center> Liquidar Comisión </center></font></font></h2>
                                            </div>
                                            <div class="col-md-2">
                                                <h4><a href="{% url 'ayuda_duenio' %}" button type="button" class="glyphicon glyphicon-question-sign" target="_blank" role="button"></center></a></h4>
                                            </div>
                                        </div>
                                        {% crispy form_liquidar_Comision %}
                                        <h6>Los campos que contienen asteriscos(*) son obligatorios.</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin contenido -->
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
    var URL_TURNOS_LIBRES = "{% url "devuelvo_turnos_libres" %}";
</script>
<script>
    $(function() {
        $(".datetimeinput").datepicker({
            minDate: new Date(),
            maxDate: 2050-12-31
        });
    });
</script>
<script>
    $(function() {
        $(".dateinput").datepicker({
        });
    });
</script>
<script>
$(function() {
    {% if formularioError %}
        $('a[href="#{{formularioError}}"]').tab('show');
    {% endif %}
});
</script>
<script type="text/javascript" src="{% static 'assets/js/turnos.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/turnos-fijos.js' %}"></script>

{% endblock %}
