{% extends "base/base.html" %}

{% load staticfiles %}

{% block barra %}
    <div id="hornav" class="container no-padding">
        <div class="row">
            <div class="col-md-12 no-padding">
                <div class="visible-lg">
                    <ul id="hornavmenu" class="nav navbar-nav navbar-fixed-top" style="height: 60px">
                        <li class="navbar-left">
                            <a href="{% url 'duenio' %}" class="fa-home">Principal</a>
                        </li>
                        <li class="navbar-right">
                            <span class="fa-user-md">Cuenta</span>
                            <ul>
                                <li class="">
                                    <a href="">Información</a>
                                </li>
                                <li class="">
                                    <a href="">Configuración</a>
                                </li>
                                <li class="">
                                    <a href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a>
                                </li>
                            </ul>
                        </li>
                        <li class="navbar-left">
                            <a href="">Empleados</a>
                        </li>
                        <li class="navbar-left">
                            <a href="{% url 'listaServicios' %}" role="button" onclick="goto_link ('/gestion/listaServicios/')">Servicios</a>
                        </li>
                        <li class="navbar-left">
                            <a href="{% url 'listaServicios' %}" role="button" onclick="goto_link ('/gestion/listaServicios/')">Clientes</a>
                        </li>
                        <!-- AGENDA !-->
                        <li class="navbar-right">
                            <a href=""><i class="fa fa-calendar-o"></i></a>
                        </li>
                        <li class="navbar-left">
                            <a href="{% url 'listaInsumos' %}" role="button" onclick="goto_link ('/gestion/listaInsumos/')">Insumos</a>
                        </li>
                        <li class="navbar-left">
                            <a href="">Turnos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block borde_arriba %}
<div id="content-top-border" class="container"></div>
{% endblock %}

{% block contenido %}
<div class="container background-white" style="opacity: 0.95">
    <div class="row margin-vert-30">
        <!-- Menú izquierdo -->
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Menú</h3>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <a href="#turnos" data-toggle="tab">
                                <i class="fa fa-calendar-o"></i>  Crear Turno</a>
                        </li>
                        <li>
                            <a href="#servicios" data-toggle="tab">
                                <i class="fa fa-scissors"></i>  Crear Servicio</a>
                        </li>
                         <li>
                            <a href="#promociones" data-toggle="tab">
                                <i class="fa fa-scissors"></i> Crear Promoción</a>
                        </li>
                        <li>
                            <a href="#empleados" data-toggle="tab">
                                <i class="fa fa-user"></i>   Crear Empleado</a>
                        </li>
                            <li>
                            <a href="#clientes" data-toggle="tab">
                                <i class="fa fa-user"></i>   Crear Cliente</a>
                        </li>
                        <li>
                            <a href="#sector" data-toggle="tab">
                                <i class="fa fa-tags"></i>  Crear Sector</a>
                        </li>
                        <li>
                            <a href="#insumo" data-toggle="tab">
                                <i class="fa fa-shopping-cart"></i>  Crear Insumo</a>
                        </li>
                        <li>
                            <a href="#liquidar" data-toggle="tab">
                                <i class="fa-money"></i>Liquidar Comision</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Fin menú izquierdo -->
        <!-- Contenido -->
        <div class="col-md-9">
            <div class="tab-content">
                {% load crispy_forms_tags %}

                {% csrf_token %}
                <div class="tab-pane fade in" id="turnos">
                    <div id="acordeon-turnos" class="panel-group alternative">
                        <div class="panel panel-default">
                            <div class="container">
                                <div class="row margin-vert-30">
                                    <div class="col-md-8 col-md-offset-2 col-sm-offset-3">
                                        <h2><font color="Purple"><font face="arial"><center> Crear un turno </center></font></font></h2>
                                        {% crispy form_crear_turno %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="servicios">
                    <div id="acordeon-clientes" class="panel-group alternative">
                        <div class="panel panel-default">
                            <div class="container">
                                <div class="row margin-vert-30">
                                    <div class="col-md-8 col-md-offset-2 col-sm-offset-3">
                                        <h2><font color="Purple"><font face="arial"><center> Dar de alta un servicio </center></font></font></h2>
                                        {% crispy form_servicio %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="promociones">
                    <div id="acordeon-clientes" class="panel-group alternative">
                        <div class="panel panel-default">
                            <div class="container">
                                <div class="row margin-vert-30">
                                    <div class="col-md-8 col-md-offset-2 col-sm-offset-3">
                                        <form method="post" class="login-page">
                                            <div class="login-header margin-bottom-30">
                                                <h2><font color="Purple"><font face="arial"> Dar de alta una promocion </font></font></h2>
                                            </div>
                                            {% crispy form_promo %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="empleados">
                    <div id="acordeon-clientes" class="panel-group alternative">
                        <div class="panel panel-default">
                            <div class="container">
                                <div class="row margin-vert-30">
                                    <div class="col-md-8 col-md-offset-2 col-sm-offset-3">
                                        <form method="post" class="login-page">
                                            <div class="login-header margin-bottom-30">
                                                <h2><font color="Purple"><font face="arial"> Dar de alta un empleado </font></font></h2>
                                            </div>
                                            {% crispy form_empleado %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="clientes">
                    <div id="acordeon-clientes" class="panel-group alternative">
                        <div class="panel panel-default">
                            <div class="container">
                                <div class="row margin-vert-30">
                                    <div class="col-md-8 col-md-offset-2 col-sm-offset-3">
                                        <form method="post" class="login-page">
                                            <div class="login-header margin-bottom-30">
                                                <h2><font color="Purple"><font face="arial"> Dar de alta un cliente </font></font></h2>
                                            </div>
                                            {% crispy form_cliente %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="sector">
                    <div id="acordeon-clientes" class="panel-group alternative">
                        <div class="panel panel-default">
                            <div class="container">
                                <div class="row margin-vert-30">
                                    <div class="col-md-8 col-md-offset-2 col-sm-offset-3">
                                        <form method="post" class="login-page">
                                            <div class="login-header margin-bottom-30">
                                                <h2><font color="Purple"><font face="arial"> Dar de alta un sector </font></font></h2>
                                            </div>
                                            {% crispy form_sector %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="insumo">
                    <div id="acordeon-clientes" class="panel-group alternative">
                        <div class="panel panel-default">
                            <div class="container">
                                <div class="row margin-vert-30">
                                    <div class="col-md-8 col-md-offset-2 col-sm-offset-3">
                                        <form method="post" class="login-page">
                                            <div class="login-header margin-bottom-30">
                                                <h2><font color="Purple" font face="arial">Dar de alta un insumo</font></h2>
                                            </div>
                                            {% crispy form_insumo %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="agenda">
                    <p>Listado de turnos de la agenda</p>
                </div>
                <div class="tab-pane fade in" id="liquidar">
                    <p>Liquidacion de comisión</p>
                </div>
            </div>
        </div>
        <!-- Fin contenido -->
    </div>
</div>
{% endblock %}

{% block borde_abajo %}
<div id="content-bottom-border" class="container"></div>
{% endblock %}
