{% extends 'duenio/base_duenio.html' %}

{% load personas_extras %}
{% load staticfiles %}

{% block contenido %}
    <div class="container background-white" style="opacity: 0.95;">
        <div class="row margin-vert-30">
            <div class="col-md-12">

                <div class="row" style="height:60px">
                    <center>
                        <div class="col-md-10">
                            <h2><font color="Purple" face="arial">Ingreso Neto</font></h2>
                        </div>
                        <div class="col-md-2">
                            <h4><a href="{% url 'ayuda_duenio' %}?pag=ingresoNeto" button type="button" class="glyphicon glyphicon-question-sign" target="_blank" role="button"></center></a></h4>
                        </div>
                    </center>
                </div>
                <div class="row" style="height:80px">
                <!-- FILTRADO !-->
                    <form method="get" action="">
                        Cliente:
                        <input name="clienteN" placeholder="Nombre" value="{{ f.clienteN }}" class="filtro">
                        <input name="clienteA" placeholder="Apellido" value="{{ f.clienteA }}" class="filtro">
    
                        Empleado:
                        <input name="empleadoN" placeholder="Nombre" value="{{ f.empleadoN }}" class="filtro">
                        <input name="empleadoA" placeholder="Apellido" value="{{ f.empleadoA }}" class="filtro">
                        <br>
                        Desde:
                        <input name="fechaI" placeholder="Desde (aaaa-mm-dd)" value="{{ f.fechaI }}" class="datetimeinput">
                        Hasta:
                        <input name="fechaF" placeholder="Hasta (aaaa-mm-dd)" value="{{ f.fechaF }}" class="datetimeinput">
                        Servicio:
                        <input list="servicios" name="servicio" placeholder="Servicio" value="{{ f.servicio }}" class="filtro">
                        <datalist id="servicios">
                            {% for servicio in servicios %}
                                <option value="{{servicio.nombre}}">
                            {% endfor %}
                        </datalist>
                        <button class="btn btn-violet pull-right" type="submit">Filtrar</button><br><br>
                    </form>
                <!--FIN FILTRADO!-->
                <br><br><br><br><br><br>
                </div>
                <table class="table table-striped">
                    <thread>
                        <tr>
                            <th>Fecha y Hora</th>
                            <th>Cliente</th>
                            <th>Empleado</th>
                            <th>Servicios</th>
                            <th>Ganancia Bruta</th>
                            <th>Porcentaje de Comision del empleado</th>
                            <th>Ganancia del empleado</th>
                            <th>Ingreso neto por turno</th>
                        </tr>
                    </thread>
                    <tbody>
                        {% for turno in turnos %}
                        <tr>
                            <td width=140>{{turno.fecha}}</td>
                            <td>{{turno.cliente}}</td>
                            <td>{{turno.empleado}}</td>
                            <td width=250>
                                {% for promocion in turno.promociones.all %}
                                    <details>
                                        <summary>{{promocion}}</summary>
                                            {% for servicio in promocion.servicios.all %}
                                                  <li><i>{{servicio}}</i>
                                            {% endfor %}
                                    </details>
                                {% endfor %}
                                {% for servicio in turno.servicios.all %}
                                   <li> {{servicio}}
                                {% endfor %}
                            </td>
                            <td width=20>${{turno.get_costo}}</td>
                            <td width=20>{{turno.empleado.porc_comision }}%</td>
                            <td width=20>${{turno.get_perdida_neta}}</td>
                            <td width=20>${{turno.get_ganancia_neta}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="chart-container1"><canvas id="myChart1"></canvas></div>  
                <table style="width:100%">
                  <tr>
                  <th><div class="chart-container2"><canvas id="myChart2"></canvas></div></th>
                  <th><div class="chart-container2"><canvas id="myChart3"></canvas></div></th>
                  <tr>    
                </table>  
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{{ block.super }}

<script src="\static\assets\js\Chart.min.js"></script>
<script>
    var ctx = document.getElementById("myChart1").getContext('2d');
    var gananciaPelu = 0;
    {% for turno in turnos %} 
        gananciaPelu = gananciaPelu + {{turno.get_ganancia_neta}} ;
    {% endfor %}
    var listaSumas = [];
    var suma = 0;
    var i = 0;
    {% for empleadox in empleados %}
        suma = 0;
        {% for turno in turnos %}
            {% if turno.empleado == empleadox %}
                suma = suma + {{turno.get_perdida_neta}};
            {% endif %}
        {% endfor %}
        listaSumas.push(suma);
    {% endfor %}

    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [
                    "Peluquería",
                    {% for empleado in empleados %}
                        "{{empleado}}",
                    {% endfor %}
                    ],
            datasets: [{
                label: 'Ingresos en pesos',
                data: [
                    gananciaPelu,
                    {% for empleado in empleados %}
                        listaSumas[i++],
                    {% endfor %}
                    ],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
</script>
<script>
    var ctx = document.getElementById("myChart2").getContext('2d');
    var gananciaPelu = 0;
    {% for turno in turnos %} 
        gananciaPelu = gananciaPelu + {{turno.get_ganancia_neta}} ;
    {% endfor %}
    var listaSumas = [];
    var suma = 0;
    var i = 0;
    {% for empleadox in empleados %}
        suma = 0;
        {% for turno in turnos %}
            {% if turno.empleado == empleadox %}
                suma = suma + {{turno.get_perdida_neta}};
            {% endif %}
        {% endfor %}
        listaSumas.push(suma);
    {% endfor %}

    var myChart = new Chart(ctx, {
        type: 'polarArea',
        data: {
            labels: [
                    "Peluquería",
                    {% for empleado in empleados %}
                        "{{empleado}}",
                    {% endfor %}
                    ],
            datasets: [{
                label: 'Ingresos en pesos',
                data: [
                    gananciaPelu,
                    {% for empleado in empleados %}
                        listaSumas[i++],
                    {% endfor %}
                    ],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
</script>
<script>
    var ctx = document.getElementById("myChart3").getContext('2d');
    var gananciaPelu = 0;
    {% for turno in turnos %} 
        gananciaPelu = gananciaPelu + {{turno.get_ganancia_neta}} ;
    {% endfor %}
    var listaSumas = [];
    var suma = 0;
    var i = 0;
    {% for empleadox in empleados %}
        suma = 0;
        {% for turno in turnos %}
            {% if turno.empleado == empleadox %}
                suma = suma + {{turno.get_perdida_neta}};
            {% endif %}
        {% endfor %}
        listaSumas.push(suma);
    {% endfor %}

    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [
                    "Peluquería",
                    {% for empleado in empleados %}
                        "{{empleado}}",
                    {% endfor %}
                    ],
            datasets: [{
                label: 'Ingresos en pesos',
                data: [
                    gananciaPelu,
                    {% for empleado in empleados %}
                        listaSumas[i++],
                    {% endfor %}
                    ],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
</script>

<script>
    $(function() {
        $(".datetimeinput").datepicker();
    });
</script>
{% endblock%}