{% extends 'duenio/base_duenio.html' %}

{% load personas_extras %}
{% load staticfiles %}

{% block contenido %}
    <div class="container background-white" style="opacity: 0.95;">
        <div class="row margin-vert-30">
            <div class="col-md-12">

                <div class="row" style="height:60px">
                    <center>
                        <h2><font color="Purple" face="arial">Ingreso Neto</font></h2>
                    </center>
                </div>
                <div class="row" style="height:80px">
                <!-- FILTRADO !-->
                    <form method="get" action="">
                        Desde:
                        <input name="fechaI" placeholder="Desde (aaaa-mm-dd)" value="{{ f.fechaI }}" class="datetimeinput">
                        Hasta:
                        <input name="fechaF" placeholder="Hasta (aaaa-mm-dd)" value="{{ f.fechaF }}" class="datetimeinput">
                        Servicio:
                        <input list="servicios" name="servicio" placeholder="Servicio" value="{{ f.servicio }}" class="filtro">
                        <datalist id="servicios">
                            {% for servicio in servicios %}
                                <option value="{{servicio.nombre}}">
                            {% endfor %}
                        </datalist>
                        <button class="btn btn-violet pull-right" type="submit">Filtrar</button><br><br>
                    </form>
                <!--FIN FILTRADO!-->
                    <form method="post" action="">
                        <button class="btn btn-violet pull-right" type="submit">PDF</button><br><br>
                    </form>
                </div>
                <table class="table table-striped">
                    <thread>
                        <tr>
                            <th>Fecha y Hora</th>
                            <th>Cliente</th>
                            <th>Empleado</th>
                            <th>Servicios</th>
                            <th>Ganancia Bruta</th>
                            <th>Porcentaje de Comision del empleado</th>
                            <th>Ganancia del empleado</th>
                            <th>Ingreso neto por turno</th>
                        </tr>
                    </thread>
                    <tbody>
                        {% for turno in turnos %}
                        <tr>
                            <td width=140>{{turno.fecha}}</td>
                            <td>{{turno.cliente}}</td>
                            <td>{{turno.empleado}}</td>
                            <td width=250>
                                {% for promocion in turno.promociones.all %}
                                    <details>
                                        <summary>{{promocion}}</summary>
                                            {% for servicio in promocion.servicios.all %}
                                                  <li><i>{{servicio}}</i>
                                            {% endfor %}
                                    </details>
                                {% endfor %}
                                {% for servicio in turno.servicios.all %}
                                   <li> {{servicio}}
                                {% endfor %}
                            </td>
                            <td width=20>${{turno.get_costo}}</td>
                            <td width=20>{{turno.empleado.porc_comision }}%</td>
                            <td width=20>${{turno.get_perdida_neta}}</td>
                            <td width=20>${{turno.get_ganancia_neta}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
    $(function() {
        $(".datetimeinput").datepicker();
    });
</script>
{% endblock%}