{% extends "base/base.html" %}

{% load staticfiles %}

{% block barra %}
    <div id="hornav" class="container no-padding">
        <div class="row">
            <div class="col-md-24 no-padding">
                <div class="visible-lg">
                    <ul id="hornavmenu" class="navbar-fixed-top">
                        <div class="navbar-right">
                            <a class="btn btn-aqua" href="{% url 'cuenta' %}">Crear Cuenta</a>
                            <a class="btn btn-green" href="{% url 'login' %}">Iniciar Sesión</a>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block contenido %}
    <div id="content">
        <div class="container background-transparent">
            <div class="container">
                <div class="row margin-vert-30">
                    <!-- Login Box -->
                    <div class="col-md-6 col-md-offset-3 col-sm-offset-3">
                        <form class="login-page">
                            <div class="login-header margin-bottom-30">
                                <h2><font color="Purple"><font face="arial"> Iniciar sesion en tu Cuenta </font></font></h2>
                            </div>
                            <div class="input-group margin-bottom-20">
                                <span class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </span>
                                <b><input placeholder="Nombre de usuario" class="form-control" type="text"></b>
                            </div>
                            <div class="input-group margin-bottom-20">
                                <span class="input-group-addon">
                                    <i class="fa fa-lock"></i>
                                </span>
                                <b><input placeholder="Contraseña" class="form-control" type="password"></b>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="checkbox">
                                        <input type="checkbox"><font color="Black"><font face="arial">Mantenerme conectado</font></font></label>
                                </div>
                                <div class="col-md-6">
                                    <b><a class="btn btn-violet pull-right" href="{% url 'empleado' %}">Iniciar Sesión</a></b>
                                </div>
                            </div>
                            <hr>
                            <h4><font color="Black"><font face="arial">Olvidaste tu contraseña?</font></font></h4>
                            <p>
                                <a href="#"> <font color="Purple"><font face="arial">Click aquí</font></font></a><font color="Black"><font face="arial"> para resetear la contraseña.</font></font></p>
                        </form>
                    </div>
                    <!-- End Login Box -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
