{% extends "base/base.html" %}

{% load staticfiles %}

{% block borde_arriba %}
<div id="content-top-border" class="container"></div>
{% endblock %}

{% block contenido %}

<div class="container background-catta1" style="opacity: 1">
    <h1 class="text-center"><font color="white"><font size=7><b> GUÍA DE AYUDA </b></font></font></h1>
</div>
<div class="container background-white" style="opacity: 0.95">
    <div class="row margin-vert-30">
        <div class="col-md-3">
            <div class="nav nav-list">
                <li><label class="tree-toggler nav-header">Ingreso al Sistema</label>
                    <ul class="nav nav-list tree">
                        <li><a href="#Turno" data-toggle="tab" >Logueo al sistema</a></li>
                        <li><a href="#Servicios" data-toggle="tab" >Cerrar Sesion</a></li>
                    </ul>
                </li>
                <li><label class="tree-toggler nav-header">Dueño</label>
                    <ul class="nav nav-list tree">
                        <li><a href="#pantPrincipal" data-toggle="tab" >Pantalla principal</a></li>
                        <li><a href="#" data-toggle="tab" >Listado de empleado</a></li>
                        <li><a href="#" data-toggle="tab" >Modificar comision de empleados</a></li>
                        <li><a href="#" data-toggle="tab" >Alta de empleado</a></li>
                        <li><a href="#" data-toggle="tab" >Listado de clientes</a></li>
                        <li><a href="#" data-toggle="tab" >Alta de cliente</a></li>
                        <li><a href="#" data-toggle="tab" >Listado de serivicios y promociones</a></li>
                        <li><a href="#" data-toggle="tab" >Modificar servicio</a></li>
                        <li><a href="#" data-toggle="tab" >Alta de servicio</a></li>
                        <li><a href="#" data-toggle="tab" >Alta de promoción</a></li>
                        <li><a href="#" data-toggle="tab" >Listado de insumos</a></li>
                        <li><a href="#" data-toggle="tab" >Modificar stock de insumo</a></li>
                        <li><a href="#" data-toggle="tab" >Alta de insumo</a></li>
                        <li><a href="#" data-toggle="tab" >Listado de turno y turno fijo</a></li>
                        <li><a href="#" data-toggle="tab" >Modificar turno</a></li>
                        <li><a href="#" data-toggle="tab" >Confirmar/Realizar turno</a></li>
                        <li><a href="#" data-toggle="tab" >Cancelar turno</a></li>
                        <li><a href="#" data-toggle="tab" >Listado de comisiones</a></li>
                        <li><a href="#" data-toggle="tab" >Liquidar comision</a></li>
                        <li><a href="#" data-toggle="tab" >Alta de sector</a></li>
                    </ul>
                </li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="tab-content">
                <div class="tab-pane fade in" id="pantPrincipal">
                    <div class="panel panel-default">
                        <div class="container">
                            <div class="row margin-vert-30">
                                <h2 class="text-center"><font color="catta1"><font size=6.9> Pantalla Principal </font></font></h2><br>
                                <p>La pantalla principal del dueño se divide en tres zonas donde se muestra prácticamente la funcionalidad completa del sistema.</p>
                                <img src="/media/ayuda/pantallaPrincipalDueño.jpg"  class="imgcenter">
                                <p> Menú Principal (1)  donde se muestran los botones:   </p>
                                <ul>
                                <li><b>Principal:</b> Permite redirigirse a la pantalla principal.</li>
                                <li><b>Empleados:</b> Listado de los empleados, Modificar Porcentaje de Comisión.</li>
                                <li><b>Clientes:</b> Listado de los clientes.</li>
                                <li><b>Servicios:</b> Listado de los servicios.</li>
                                <li><b>Insumos:</b> Listado de insumos. Modificar stock de insumo.</li>
                                <li><b>Turnos:</b> Listado de turnos. Modificar Turno. Confirmar Turno. Realizar Turno. Cancelar Turno.</li>
                                <li><b>Comisiones:</b> Listado de las comisiones realizadas a los empleados.</li>
                                <li><b>Ayuda: </b> Accede a la documentación de ayuda de manera contextual.</li>
                                <li><b>Calendario:</b> Muestra gráficamente un calendario con los turnos correspondientes a cada día y horario.</li>
                                <li><b>Cuenta:</b> Permite acceder a la opción de cerrar sesión.</li>
                                </ul>
                                <p> Menú Lateral (2) muestra algunas de las funcionalidades del sistema más utilizadas por el dueño: </p>
                                <ul>
                                <li><b>Crear Turno:</b> Permite crear un nuevo turno.</li>
                                <li><b>Crear Servicio:</b>  Permite crear un nuevo servicio.</li>
                                <li><b>Crear Promoción:</b> Permite crear una nueva promoción.</li>
                                <li><b>Crear Empleado: </b> Permite crear un nuevo empleado.</li>
                                <li><b>Crear Cliente:</b> Permite crear un nuevo cliente.</li>
                                <li><b>Crear Sector: </b> Permite crear un nuevo sector.</li>
                                <li><b>Crear Insumo:</b> Permite crear un nuevo insumo.</li>
                                <li><b>Liquidar comisión: </b> Permite liquidar una comisión para cada empleado.</li>
                                <li><b>Crear Turno Fijo: </b> Permite crear una serie de turnos fijos.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="Servicios">
                    <div class="panel panel-default">
                        <div class="container">
                            <div class="row margin-vert-30">
                                <h2 class="text-center"><font color="black"><font size=6.9> Listado de Servicios </font></font></h2><br>
                                <h6>hola asdfsaf</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="ListadoTurnos">
                    <div class="panel panel-default">
                        <div class="container">
                            <div class="row margin-vert-30">
                                <h2 class="text-center"><font color="black"><font size=6.9> Listado de Turnos </font></font></h2><br>
                                <h6>hola asdfsaf</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block borde_abajo %}
<div id="content-bottom-border" class="container"></div>
{% endblock %}