{% extends "base/base.html" %}

{% load staticfiles %}

{% block contenido %}
<div class="container background-white" style="opacity: 0.95">
    <div class="row margin-vert-30">
        <div class="col-md-3">
            <div class="nav nav-list">
                <li><label class="tree-toggler nav-header">Cliente</label>
                    <ul class="nav nav-list tree">
                        <li><a href="#Turno" data-toggle="tab" >Pedí tu turno</a></li>
                        <li><a href="#Servicios" data-toggle="tab" >Nuestros Servicios</a></li>
                        <li><a href="#ListadoTurnos" data-toggle="tab" >Mis Turnos</a></li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li><label class="tree-toggler nav-header">Empleado</label>
                    <ul class="nav nav-list tree">
                        <li><a href="#">Calendar</a></li>
                        <li><a href="#">Efficiency</a></li>
                        <li><a href="#">Process Age</a></li>
                        <li><a href="#">DME Audit</a></li>
                        <li><a href="#">Condition Detected At DME</a></li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li><label class="tree-toggler nav-header">Dueño</label>
                    <ul class="nav nav-list tree">
                        <li><a href="#">Demography</a></li>
                        <li><a href="#">Feedback</a></li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li><label class="tree-toggler nav-header">Licensing</label>
                    <ul class="nav nav-list tree">
                        <li><a href="#">Assessment Status</a></li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li><label class="tree-toggler nav-header">Medical Stats</label>
                    <ul class="nav nav-list tree">
                        <li><a href="#">Diagnosis Report</a></li>
                        <li><a href="#">Measurement and Investigation Report</a></li>
                        <li><a href="#">Health Risk Report</a></li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li><label class="tree-toggler nav-header">Admin</label>
                    <ul class="nav nav-list tree">
                        <li><a href="#">Revenue Report</a></li>
                        <li><a href="#">Applicant Activity Report</a></li>
                        <li><a href="#">Login Activity Report</a></li>
                    </ul>
                </li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="tab-content">
                <div class="tab-pane fade in" id="Turno">
                    <div id="acordeon-reporte" class="panel-group alternative">
                        <div class="panel panel-default">
                            <div class="container">
                                <div class="row margin-vert-30">
                                    <h2 class="text-center"><font color="black"><font size=6.9> Como crear un turno </font></font></h2><br>
                                    <h6>hola asdfsaf</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="chau">
                    <div id="acordeon-chau" class="panel-group alternative">
                        <div class="panel panel-default">
                            <div class="container">
                                <div class="row margin-vert-30">
                                    <h6>chau</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}