{% extends "base/base.html" %}

{% load staticfiles %}

{% block borde_arriba %}
<div id="content-top-border" class="container"></div>
{% endblock %}


{% block contenido %}

<div class="container background-catta1" style="opacity: 1">
    <h1 class="text-center"><font color="white"><font size=7><b> GUÍA DE AYUDA </b></font></font></h1>
</div>
<div class="container background-white" style="opacity: 0.95">
    <div class="row margin-vert-30">
        <div class="col-md-3">
            <div class="nav nav-list">
                <li><label class="tree-toggler nav-header">Ingreso al Sistema</label>
                    <ul class="nav nav-list tree">
                        <li><a href="#Turno" data-toggle="tab" >Logueo al sistema</a></li>
                        <li><a href="#Servicios" data-toggle="tab" >Cerrar Sesion</a></li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li><label class="tree-toggler nav-header">Cliente</label>
                    <ul class="nav nav-list tree">
                        <li><a href="#Turno" data-toggle="tab" >Pantalla Principal</a></li>
                        <li><a href="#Servicios" data-toggle="tab" >Listado de servicios y promociones</a></li>
                        <li><a href="#ListadoTurnos" data-toggle="tab" >Crear un turno</a></li>
                        <li><a href="#ListadoTurnos" data-toggle="tab" >Listado de turnos</a></li>
                        <li><a href="#ListadoTurnos" data-toggle="tab" >Modificar turno</a></li>
                        <li><a href="#ListadoTurnos" data-toggle="tab" >Confirmar turno</a></li>
                        <li><a href="#ListadoTurnos" data-toggle="tab" >Cancelar turno</a></li>
                    </ul>
                </li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="tab-content">
                <div class="tab-pane fade in" id="Turno">
                    <div class="panel panel-default">
                        <div class="container">
                            <div class="row margin-vert-30">
                                <h2 class="text-center"><font color="black"><font size=6.9> Como crear un turno </font></font></h2><br>
                                <h6>hola asdfsaf</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="Servicios">
                    <div class="panel panel-default">
                        <div class="container">
                            <div class="row margin-vert-30">
                                <h2 class="text-center"><font color="black"><font size=6.9> Listado de Servicios </font></font></h2><br>
                                <h6>hola asdfsaf</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="ListadoTurnos">
                    <div class="panel panel-default">
                        <div class="container">
                            <div class="row margin-vert-30">
                                <h2 class="text-center"><font color="black"><font size=6.9> Listado de Turnos </font></font></h2><br>
                                <h6>hola asdfsaf</h6>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block borde_abajo %}
<div id="content-bottom-border" class="container"></div>
{% endblock %}