{% extends "ayuda/ayudaBase.html" %}

{% load staticfiles %}

{% block contenido %}

<div class="container background-catta1" style="opacity: 1">
    <h1 class="text-center"><font color="white"><font size=7><b> GUÍA DE AYUDA </b></font></font></h1>
</div>
<div class="container background-white" style="opacity: 0.95">
    <div class="row margin-vert-30">
        <div class="col-md-3">
            <div class="nav nav-list">
                <li><label class="tree-toggler nav-header">Ingreso al Sistema</label>
                    <ul class="nav nav-list tree">
                        <li><a href="#CrearCuenta" data-toggle="tab">Crear una Cuenta</a></li>
                        <li><a href="#Logueo" data-toggle="tab" >Iniciar Sesión</a></li>
                        <li><a href="#CerrarSesion" data-toggle="tab" >Cerrar Sesión</a></li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li><label class="tree-toggler nav-header">Cliente</label>
                    <ul class="nav nav-list tree">
                        <li><a href="#PantallaPrincipal" data-toggle="tab" >Pantalla Principal</a></li>
                        <li><a href="#ListadoServiciosPromociones" data-toggle="tab" >Listado de servicios y promociones</a></li>
                        <li><a href="#CrearTurno" data-toggle="tab" >Crear un turno</a></li>
                        <li><a href="#ListadoTurno" data-toggle="tab" >Listado de turnos</a></li>
                        <li><a href="#ModificarTurno" data-toggle="tab" >Modificar turno</a></li>
                        <li><a href="#ConfirmarTurno" data-toggle="tab" >Confirmar turno</a></li>
                        <li><a href="#CancelarTurno" data-toggle="tab" >Cancelar turno</a></li>
                    </ul>
                </li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="tab-content">
                {{ block.super }}
                {% if pagina == 'crearCuenta' %}
                <div class="tab-pane fade in active" id="crearCuenta">
                {% else %}
                <div class="tab-pane fade in" id="CrearCuenta">
                {% endif %}
                    <div class="panel panel-default">
                        <div class="container">
                            <div class="row margin-vert-30">
                                <h2 class="text-center"><font color="#ce2323"><font size=6.9>Crear una Cuenta</font></font></h2><br>
                                <p>Para crear una cuenta debe hacer click en el botón “Crear Cuenta” de la página de Inicio de Catta.</p>
                                <img src="/media/ayuda/cliente_crearCuenta.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <p>Luego aparecerá el siguiente formulario.</p>
                                <img src="/media/ayuda/cliente_crearCuenta1.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <p>En (1) se encuentra el nombre del formulario. En (2) están los datos a completar para crear la cuenta. En (3) Crear cuenta con los datos indicados.</p>
                                <p>Observaciones</p>
                                <ul>
                                    <li>Si el Dni ya fue utilizado para una cuenta, no se podrá volver a utilizar para la creación de una nueva.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% if pagina == 'pantallaPrincipal' %}
                <div class="tab-pane fade in active" id="PantallaPrincipal">
                {% else %}
                <div class="tab-pane fade in" id="PantallaPrincipal">
                {% endif %}

                    <div class="panel panel-default">
                        <div class="container">
                            <div class="row margin-vert-30">
                                <h2 class="text-center"><font color="#ce2323"><font size=6.9>Pantalla Principal</font></font></h2><br>
                                <p>La pantalla principal del dueño se divide en tres zonas donde se muestra prácticamente la funcionalidad completa del sistema.</p>
                                <img src="/media/ayuda/cliente_pantallaPrincipal.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <p>Menú Principal (1) donde se muestran los botones:</p>
                                <ul>
                                    <li><b>PRINCIPAL:</b> Permite redirigirse a la pantalla principal.</li>
                                    <li><b>PEDI TU TURNO:</b> Permite crear un nuevo turno.</li>
                                    <li><b>NUESTROS SERVICIOS:</b> Permite listar todos los servicios.</li>
                                    <li><b>AYUDA:</b> Permite abrir la ayuda online para el cliente.</li>
                                    <li><b>MIS TURNOS:</b> Permite listar todos los turnos.</li>
                                    <li><b>CUENTA:</b> Permite acceder a la opción de cerrar sesión.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% if pagina == 'listadoServiciosPromociones' %}
                <div class="tab-pane fade in active" id="ListadoServiciosPromociones">
                {% else %}
                <div class="tab-pane fade in" id="ListadoServiciosPromociones">
                {%endif%}
                    <div class="panel panel-default">
                        <div class="container">
                            <div class="row margin-vert-30">
                                <h2 class="text-center"><font color="#ce2323"><font size=6.9>Listados de Servicios y Promociones</font></font></h2><br>
                                <p>Para acceder a la opción de ver todos los servicios y promociones que ofrece el Centro de Estética, debe hacer click sobre el botón “NUESTROS SERVICIOS”.</p>
                                <img src="/media/ayuda/cliente_listarServiciosPromociones.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <p>Listado de servicios</p>
                                <img src="/media/ayuda/cliente_listarServiciosPromociones1.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <p>En (1) está el sector de filtrado, se puede filtrar por Nombre.  Al hacer click sobre el botón “Filtrar” muestra el resultado del filtrado. (2) Nombre del listado. (3) Sección de resultado de filtro donde se muestra  el Nombre, Descripción, Precio, Duración, Insumos, Sector. (4) Nombre del listado. (5) Sección de resultado de filtro donde se muestra Nombre, Descripción, Precio, Duración y Servicios.</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% if pagina == 'crearTurno' %}
                <div class="tab-pane fade in active" id="crearTurno">
                {% else %}
                <div class="tab-pane fade in" id="crearTurno">
                {% endif %}
                    <div class="panel panel-default">
                        <div class="container">
                            <div class="row margin-vert-30">
                                <h2 class="text-center"><font color="#ce2323"><font size=6.9> Crear un Turno</font></font></h2><br>
                                <p>Para acceder a la opción de crear un nuevo turno, debe hacer click en el botón “PEDI TU TURNO”. </p>
                                <img src="/media/ayuda/cliente_crearTurno.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <p>Luego aparecerá la siguiente pantalla</p>
                                <img src="/media/ayuda/cliente_crearTurno1.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <p>En (1) está el nombre de la sección donde estamos ubicados. (2) Datos del nuevo turno. (3 Guardar nuevo turno.</p>
                                <p>Observaciones</p>
                                <ul>
                                    <li>No se puede crear un turno que ya tenga esa fecha, hora y empleado.</li>
                                    <li>No se puede crear un turno que se superponga con otro ya existente.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% if pagina == 'listadoTurno' %}
                <div class="tab-pane fade in active" id="ListadoTurno">
                {% else %}
                <div class="tab-pane fade in" id="ListadoTurno">
                {% endif %}
                    <div class="panel panel-default">
                        <div class="container">
                            <div class="row margin-vert-30">
                                <h2 class="text-center"><font color="#ce2323"><font size=6.9>Listado de Turnos</font></font></h2><br>
                                <p>Para acceder a la opción de ver todos sus turnos, debe hacer click sobre el botón “MIS TURNOS”.</p>
                                <img src="/media/ayuda/cliente_listarTurnos.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <p>Luego aparecerá la siguiente pantalla</p>
                                <img src="/media/ayuda/cliente_listarTurnos1.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <p> En (1) está el nombre de la sección donde estamos ubicados. (2) Sector de filtrado,
                                    se puede filtrar por Cliente, Empleado, Fecha desde/hasta, Servicio y Estado.
                                    Al hacer click sobre el botón “Filtrar” muestra el resultado del filtrado. (3)
                                    Sección de resultado de filtro donde se muestra Fecha y Hora, Cliente, Empleado, Estado y Servicios
                                    (4) Modificar turno. (5) Confirmar turno. (6) Cancelar turno.</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% if pagina == 'modificarTurno' %}
                <div class="tab-pane fade in active" id="ModificarTurno">
                {% else %}
                <div class="tab-pane fade in" id="ModificarTurno">
                {% endif %}
                    <div class="panel panel-default">
                        <div class="container">
                            <div class="row margin-vert-30">
                                <h2 class="text-center"><font color="#ce2323"><font size=6.9> Modificar Turno</font></font></h2><br>
                                <p>Para modificar un turno debe hacer click sobre el botón modificar del turno seleccionado.</p>
                                <img src="/media/ayuda/cliente_modificarTurno.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <p>Luego aparecerá la siguiente pantalla</p>
                                <img src="/media/ayuda/cliente_modificarTurno1.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <p>En (1) está el nombre de la sección donde estamos ubicados. (2) Datos no modificables de turno. (3) Datos modificables del turno. (4) Guarda cambios del turno..</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% if pagina == 'confirmarTurno' %}
                <div class="tab-pane fade in active" id="ConfirmarTurno">
                {% else %}
                <div class="tab-pane fade in" id="ConfirmarTurno">
                {% endif %}
                    <div class="panel panel-default">
                        <div class="container">
                            <div class="row margin-vert-30">
                                <h2 class="text-center"><font color="#ce2323"><font size=6.9> Confirmar Turno</font></font></h2><br>
                                <p>Para confirmar un turno debe hacer click sobre el botón confirmar del turno seleccionado.</p>
                                <img src="/media/ayuda/cliente_confirmarTurno.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <p>Luego aparecerá la siguiente pantalla</p>
                                <img src="/media/ayuda/cliente_confirmarTurno1.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <p>En (1) está el nombre de la sección donde estamos ubicados. (2) Datos  del turno. (3) Confirmar turno.</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% if pagina == 'cancelarTurno' %}
                <div class="tab-pane fade in active" id="CancelarTurno">
                {% else %}
                <div class="tab-pane fade in" id="CancelarTurno">
                {% endif %}
                    <div class="panel panel-default">
                        <div class="container">
                            <div class="row margin-vert-30">
                                <h2 class="text-center"><font color="#ce2323"><font size=6.9> Cancelar Turno</font></font></h2><br>
                                <p>Para cancelar un turno debemos hacer click sobre el botón cancelar  del turno seleccionado.</p>
                                <img src="/media/ayuda/cliente_cancelarTurno.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <p>Luego aparecerá la siguiente pantalla</p>
                                <img src="/media/ayuda/cliente_cancelarTurno1.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <p>En (1) está el nombre de la sección donde estamos ubicados. (2) datos del turno. (3) Cancelar Turno.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
