{% extends "base/base.html" %}

{% load staticfiles %}

{% block borde_arriba %}
<div id="content-top-border" class="container"></div>
{% endblock %}

{% block contenido %}

<div class="container background-catta1" style="opacity: 1">
    <h1 class="text-center"><font color="white"><font size=7><b> GUÍA DE AYUDA </b></font></font></h1>
</div>
<div class="container background-white" style="opacity: 0.95">
    <div class="row margin-vert-30">
        <div class="col-md-3">
            <div class="nav nav-list">
                <li><label class="tree-toggler nav-header">Ingreso al Sistema</label>
                    <ul class="nav nav-list tree">
                        <li><a href="#Turno" data-toggle="tab" >Logueo al sistema</a></li>
                        <li><a href="#Servicios" data-toggle="tab" >Cerrar Sesion</a></li>
                    </ul>
                </li>
                <li><label class="tree-toggler nav-header">Dueño</label>
                    <ul class="nav nav-list tree">
                        <li><a href="#pantallaPrincipal" data-toggle="tab" >Pantalla principal</a></li>
                        <li><a href="#listadoEmpleados" data-toggle="tab" >Listado de empleados</a></li>
                        <li><a href="#modificarComisión" data-toggle="tab" >Modificar comisión de empleado</a></li>
                        <li><a href="#altaEmpleado" data-toggle="tab" >Alta de empleado</a></li>
                        <li><a href="#listadoClientes" data-toggle="tab" >Listado de clientes</a></li>
                        <li><a href="#altaCliente" data-toggle="tab" >Alta de cliente</a></li>
                        <li><a href="#listadoServYPromo" data-toggle="tab" >Listado de serivicios y promociones</a></li>
                        <li><a href="#modificarServicio" data-toggle="tab" >Modificar servicio</a></li>
                        <li><a href="#altaServicio" data-toggle="tab" >Alta de servicio</a></li>
                        <li><a href="#altaPromocion" data-toggle="tab" >Alta de promoción</a></li>
                        <li><a href="#listadoInsumos" data-toggle="tab" >Listado de insumos</a></li>
                        <li><a href="#modificarStock" data-toggle="tab" >Modificar stock de insumo</a></li>
                        <li><a href="#altaInsumo" data-toggle="tab" >Alta de insumo</a></li>
                        <li><a href="#listadoTurnoyTurnoFijo" data-toggle="tab" >Listado de turno y turno fijo</a></li>
                        <li><a href="#modificarTurno" data-toggle="tab" >Modificar turno</a></li>
                        <li><a href="#" data-toggle="tab" >Confirmar/Realizar turno</a></li>
                        <li><a href="#" data-toggle="tab" >Cancelar turno</a></li>
                        <li><a href="#" data-toggle="tab" >Listado de comisiones</a></li>
                        <li><a href="#" data-toggle="tab" >Liquidar comision</a></li>
                        <li><a href="#" data-toggle="tab" >Alta de sector</a></li>
                    </ul>
                </li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="tab-content">
                <div class="tab-pane fade in" id="pantallaPrincipal">
                    <div class="panel panel-default">
                        <div class="container">
                            <div class="row margin-vert-30">
                                <h2 class="text-center"><font color="#ce2323"><font size=6.9> Pantalla Principal </font></font></h2><br>
                                <p>La pantalla principal del dueño se divide en tres zonas donde se muestra prácticamente la funcionalidad completa del sistema.</p>
                                <img src="/media/ayuda/dueño_pantallaPrincipal.jpg"  class="imgcenter">
                                 <p> &nbsp;</p>
                                <p> Menú Principal (1)  donde se muestran los botones:   </p>
                                <ul>
                                <li><b>Principal:</b> Permite redirigirse a la pantalla principal.</li>
                                <li><b>Empleados:</b> Listado de los empleados, Modificar Porcentaje de Comisión.</li>
                                <li><b>Clientes:</b> Listado de los clientes.</li>
                                <li><b>Servicios:</b> Listado de los servicios.</li>
                                <li><b>Insumos:</b> Listado de insumos. Modificar stock de insumo.</li>
                                <li><b>Turnos:</b> Listado de turnos. Modificar Turno. Confirmar Turno. Realizar Turno. Cancelar Turno.</li>
                                <li><b>Comisiones:</b> Listado de las comisiones realizadas a los empleados.</li>
                                <li><b>Ayuda: </b> Accede a la documentación de ayuda de manera contextual.</li>
                                <li><b>Calendario:</b> Muestra gráficamente un calendario con los turnos correspondientes a cada día y horario.</li>
                                <li><b>Cuenta:</b> Permite acceder a la opción de cerrar sesión.</li>
                                </ul>
                                <p> Menú Lateral (2) muestra algunas de las funcionalidades del sistema más utilizadas por el dueño: </p>
                                <ul>
                                <li><b>Crear Turno:</b> Permite crear un nuevo turno.</li>
                                <li><b>Crear Servicio:</b>  Permite crear un nuevo servicio.</li>
                                <li><b>Crear Promoción:</b> Permite crear una nueva promoción.</li>
                                <li><b>Crear Empleado: </b> Permite crear un nuevo empleado.</li>
                                <li><b>Crear Cliente:</b> Permite crear un nuevo cliente.</li>
                                <li><b>Crear Sector: </b> Permite crear un nuevo sector.</li>
                                <li><b>Crear Insumo:</b> Permite crear un nuevo insumo.</li>
                                <li><b>Liquidar comisión: </b> Permite liquidar una comisión para cada empleado.</li>
                                <li><b>Crear Turno Fijo: </b> Permite crear una serie de turnos fijos.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="listadoEmpleados">
                    <div class="panel panel-default">
                        <div class="container">
                            <div class="row margin-vert-30">
                                <h2 class="text-center"><font color="#ce2323"><font size=6.9> Listado de Empleados </font></font></h2><br>
                                <p>Para acceder a la opción de listado de  empleados o para modificar el porcentaje de comisión de un
                                   empleado, debe hacer click en el botón “Empleados”. Para acceder a la opción de dar de alta a un
                                   empleado debe hacer click sobre “Crear Empleado”.</p>
                                <img src="/media/ayuda/dueño_listadoEmpleados.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <p>Dentro de Empleados aparecerá la siguiente pantalla</p>
                                <img src="/media/ayuda/dueño_listadoEmpleados2.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <ol>
                                <li>Nombre de la sección donde estamos ubicados.</li>
                                <li>Sector de filtrado, se puede filtrar por nombre, apellido o localidad. Al hacer click en el botón “Filtrar”, muestra el resultado del filtrado.</li>
                                <li>Sección de resultado de filtro donde se mostrará DNI, Nombre, Apellido, Dirección, Teléfono, Localidad, Sector y Comisión. De no haberse realizado ningún filtro mostrará todos los empleados existentes.</li>
                                <li>El botón de “Modificar Comision” permitirá cambiar el porcentaje de comisión del empleado seleccionado.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="modificarComisión">
                    <div class="panel panel-default">
                        <div class="container">
                            <div class="row margin-vert-30">
                                <h2 class="text-center"><font color="#ce2323"><font size=6.9> Modificar  Porcentaje de Comisión </font></font></h2><br>
                                <p>Para modificar el porcentaje de comisión de un empleado debe hacer click en el botón “Modificar Comision” del empleado seleccionado.</p>
                                <img src="/media/ayuda/dueño_modificarComision.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <p> Luego aparecerá la siguiente pantalla </p>
                                <img src="/media/ayuda/dueño_modificarComision2.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <p> En (1) vemos el nombre de la sección donde estamos ubicados, en
                                (2) está la descripción del empleado, en
                                (3) modificar el porcentaje de comisión y en
                                (4) guardar los cambios del nuevo porcentaje de comisión. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="altaEmpleado">
                    <div class="panel panel-default">
                        <div class="container">
                            <div class="row margin-vert-30">
                                <h2 class="text-center"><font color="#ce2323"><font size=6.9> Alta de Empleado </font></font></h2><br>
                                <img src="/media/ayuda/dueño_altaDeEmpleado.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <p> En (1) está el nombre de la sección en donde nos ubicamos. (2) Datos del nuevo empleado. (3) Guardar el nuevo empleado. </p>
                                <p><u> Observaciones: </u></p>
                                <ul>
                                <li>No se podrá crear un empleado si ese empleado ya existe.</li>
                                <li>Un empleado pude pertenecer únicamente a un sector.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="listadoClientes">
                    <div class="panel panel-default">
                        <div class="container">
                            <div class="row margin-vert-30">
                                <h2 class="text-center"><font color="#ce2323"><font size=6.9> Listado de Clientes </font></font></h2><br>
                                <p>Para acceder a la opción de listado de los clientes debe hacer click sobre el botón “Clientes”.
                                   Para dar de alta a un nuevo cliente hacer click sobre el botón “Crear Cliente” del Menú lateral.</p>
                                <img src="/media/ayuda/dueño_listadoClientes.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <p> Luego aparecerá la siguiente pantalla </p>
                                <img src="/media/ayuda/dueño_listadoClientes2.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <p>En (1) está el nombre de la sección donde estamos ubicados. (2) Sector de filtrado, se puede filtrar
                                   por DNI, Nombre y Apellido y localidad. Al hacer click sobre el botón “Filtrar” muestra el resultado
                                   del filtrado. (3)  Sección de  resultado de filtro donde se mostrará DNI, Nombre, Apellido, Dirección,
                                   Teléfono y Localidad. De no hacerse realizado ningún filtro se mostrará todos los clientes existentes.
                                   (4) Exportar listado a PDF.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="altaCliente">
                    <div class="panel panel-default">
                        <div class="container">
                            <div class="row margin-vert-30">
                                <h2 class="text-center"><font color="#ce2323"><font size=6.9> Alta de Cliente </font></font></h2><br>
                                <img src="/media/ayuda/dueño_altaCliente.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <p> En  (1) está el nombre de la sección donde estamos ubicados. (2) Datos del nuevo cliente. (3)Guardar el nuevo cliente. </p>
                                <p><u> Observaciones: </u></p>
                                <ul>
                                <li>No se podrá dar de alta a un cliente que ya existe.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="listadoServYPromo">
                    <div class="panel panel-default">
                        <div class="container">
                            <div class="row margin-vert-30">
                                <h2 class="text-center"><font color="#ce2323"><font size=6.9> Servicios y Promociones </font></font></h2><br>
                                <p>Para acceder a la opción de listado de servicios y promociones debe hacer click sobre el botón “Servicios”.
                                   Para dar de alta a un nuevo servicio debe hacer click sobre el botón “Crear Servicio”  o para dar de alta a
                                   una nueva promoción debe hacer click sobre el botón “Crear Promocion” del menú lateral.</p>
                                <img src="/media/ayuda/dueño_listaServyPromo.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <p> Luego aparecerá la siguiente pantalla </p>
                                <img src="/media/ayuda/dueño_listaServyPromo2.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <p> En (1) está el sector de filtrado, se puede filtrar por Nombre.  Al hacer click sobre el botón “Filtrar”
                                    muestra el resultado del filtrado. (2) Nombre del listado. (3) Sección de resultado de filtro donde se
                                    muestra  el Nombre, Descripción, Precio, Duración, Insumos, Sector. (4) Modificar servicio. (5) Nombre
                                    del listado. (6) Sección de resultado de filtro donde se muestra Nombre, Descripción, Precio, Duración y
                                    Servicios. (7) Nombre del listado. (8) Sección de resultado de los cinco servicios más utilizados donde
                                    se muestra Nombre, Descripción, Precio, Duración, Insumos y Cantidad. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="modificarServicio">
                    <div class="panel panel-default">
                        <div class="container">
                            <div class="row margin-vert-30">
                                <h2 class="text-center"><font color="#ce2323"><font size=6.9> Modificar Servicio </font></font></h2><br>
                                <img src="/media/ayuda/dueño_modificarServicio.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <p> En (1) está el nombre de la sección donde estamos ubicados. (2) Datos del servicio no modificables.
                                    (3) Datos del servicio modificables. (4) Guarda los cambios del servicio. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="altaServicio">
                    <div class="panel panel-default">
                        <div class="container">
                            <div class="row margin-vert-30">
                                <h2 class="text-center"><font color="#ce2323"><font size=6.9> Alta Servicio </font></font></h2><br>
                                <img src="/media/ayuda/dueño_altaServicio.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <p> En (1) está el nombre de la sección donde estamos ubicados. (2) Datos del nuevo servicio.
                                    (3) Guardar nuevo servicio. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="altaPromocion">
                    <div class="panel panel-default">
                        <div class="container">
                            <div class="row margin-vert-30">
                                <h2 class="text-center"><font color="#ce2323"><font size=6.9> Alta Promoción </font></font></h2><br>
                                <img src="/media/ayuda/dueño_altaPromocion.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <p> En (1) está el nombre de la sección donde estamos ubicados. (2) Datos de la nueva promoción,
                                    donde si se quiere se puede anexar una imagen. (3) Guardar nueva promoción. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="listadoInsumos">
                    <div class="panel panel-default">
                        <div class="container">
                            <div class="row margin-vert-30">
                                <h2 class="text-center"><font color="#ce2323"><font size=6.9> Listado de Insumos </font></font></h2><br>
                                <p>Para acceder a la opción de listado de insumos o modificar Stock de un insumo debe hacer click sobre
                                   el botón “Insumos”. Para dar de alta a un nuevo insumo debe hacer click sobre el botón “Crear Insumo”
                                   del menú lateral.</p>
                                <img src="/media/ayuda/dueño_listaInsumos.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <p> Luego aparecerá la siguiente pantalla </p>
                                <img src="/media/ayuda/dueño_listaInsumos2.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <p>En (1) está el nombre de la sección donde estamos ubicados. (2) Sector de filtrado, se puede filtrar
                                   por Nombre y Marca.  Al hacer click sobre el botón “Filtrar” muestra el resultado del filtrado.
                                   (3) Sección de resultado de filtro donde se muestra  el Nombre, Marca, Contenido Neto, Unidad de medida
                                   y Stock. (4) Modificar Stock del insumo.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="modificarStock">
                    <div class="panel panel-default">
                        <div class="container">
                            <div class="row margin-vert-30">
                                <h2 class="text-center"><font color="#ce2323"><font size=6.9> Modificar Stock Insumo </font></font></h2><br>
                                <p>Para modificar el stock de un insumo debe hacer click sobre el botón “Modificar” del insumo seleccionado.</p>
                                <img src="/media/ayuda/dueño_modStockInsumo.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <p> Luego aparecerá la siguiente pantalla </p>
                                <img src="/media/ayuda/dueño_modStockInsumo2.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <p>En (1) vemos el nombre de la sección donde estamos ubicados, en (2) está la descripción del insumo, en
                                   (3) modificar el stock del insumo y en (4) guardar los cambios del nuevo stock del insumo.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="altaInsumo">
                    <div class="panel panel-default">
                        <div class="container">
                            <div class="row margin-vert-30">
                                <h2 class="text-center"><font color="#ce2323"><font size=6.9> Alta Insumo </font></font></h2><br>
                                <img src="/media/ayuda/dueño_altaInsumo.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <p> En (1) está el nombre de la sección donde estamos ubicados. (2) Datos del nuevo insumo.
                                    (3) Guardar nuevo insumo. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="listadoTurnoyTurnoFijo">
                    <div class="panel panel-default">
                        <div class="container">
                            <div class="row margin-vert-30">
                                <h2 class="text-center"><font color="#ce2323"><font size=6.9> Listado de Turno y Turno Fijo </font></font></h2><br>
                                <p>Para acceder a la opción de listado, modificar, confirmar/realizar o cancelar un turno/turno fijo debe
                                   hacer click sobre el botón “Turnos”. Para crear un nuevo turno debe hacer click sobre el botón
                                   “Crear Turno”. Para crear un nuevo turno fijo debe hacer click sobre el botón “Crear Turno Fijo”.</p>
                                <img src="/media/ayuda/dueño_listaTurnoyTurnoFijo.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <p> En el listado se muestran los turnos y los turnos fijos sin hacer distinción  </p>
                                <img src="/media/ayuda/dueño_listaTurnoyTurnoFijo2.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <p>En (1) está el nombre de la sección donde estamos ubicados. (2) Sector de filtrado, se puede filtrar por Cliente,
                                   Empleado, Fecha desde/hasta, Servicio y Estado.  Al hacer click sobre el botón “Filtrar” muestra el resultado del
                                   filtrado. (3) Exportar listado a PDF. (4) Sección de resultado de filtro donde se muestra Fecha y Hora, Cliente,
                                   Empleado, Estado y Servicios (5) Modificar turno. (6) Confirmar/Realizar turno. (7) Cancelar turno.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="modificarTurno">
                    <div class="panel panel-default">
                        <div class="container">
                            <div class="row margin-vert-30">
                                <h2 class="text-center"><font color="#ce2323"><font size=6.9> Modificar Turno </font></font></h2><br>
                                <P>Para modificar un turno debemos hacer click sobre el botón “Modificar” del turno seleccionado.
                                   Luego aparecerá la siguiente pantalla</P>
                                <img src="/media/ayuda/dueño_modificarTurno.jpg"  class="imgcenter">
                                <p> &nbsp;</p>
                                <p> En (1) está el nombre de la sección donde estamos ubicados. (2) Datos no modificables de turno.
                                    (3) Datos modificables del turno. (4) Guarda cambios del turno. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="asd">
                    <div class="panel panel-default">
                        <div class="container">
                            <div class="row margin-vert-30">
                                <h2 class="text-center"><font color="black"><font size=6.9> Listado de Turnos </font></font></h2><br>
                                <h6>hola asdfsaf</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="asd">
                    <div class="panel panel-default">
                        <div class="container">
                            <div class="row margin-vert-30">
                                <h2 class="text-center"><font color="black"><font size=6.9> Listado de Turnos </font></font></h2><br>
                                <h6>hola asdfsaf</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="asd">
                    <div class="panel panel-default">
                        <div class="container">
                            <div class="row margin-vert-30">
                                <h2 class="text-center"><font color="black"><font size=6.9> Listado de Turnos </font></font></h2><br>
                                <h6>hola asdfsaf</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="asd">
                    <div class="panel panel-default">
                        <div class="container">
                            <div class="row margin-vert-30">
                                <h2 class="text-center"><font color="black"><font size=6.9> Listado de Turnos </font></font></h2><br>
                                <h6>hola asdfsaf</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="asd">
                    <div class="panel panel-default">
                        <div class="container">
                            <div class="row margin-vert-30">
                                <h2 class="text-center"><font color="black"><font size=6.9> Listado de Turnos </font></font></h2><br>
                                <h6>hola asdfsaf</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block borde_abajo %}
<div id="content-bottom-border" class="container"></div>
{% endblock %}